<div class="si-search-engine si-type-search-of-listings si-focus-type-{{model.search_engine_options.type}}">
    <div class="focused-tabs">
        <div class="tab" ng-if="model.search_engine_options.tabs.includes('RES')"><lstr>Residential</lstr></div>
        <div class="tab" ng-if="model.search_engine_options.tabs.includes('COM')"><lstr>Commercial</lstr></div>
        <div class="tab" ng-if="model.search_engine_options.tabs.includes('for-sale')"><lstr>For sale</lstr></div>
        <div class="tab" ng-if="model.search_engine_options.tabs.includes('for-rent')"><lstr>For rent</lstr></div>
    </div>

    <div class="inputs">
        <div class="search-box">
            <input placeholder="{{model.search_engine_options.search_box_placeholder}}" />
        </div>

        <div class="panel">
            <lstr>Cities</lstr>
        </div>

        <div class="panel">
            <lstr>Home types</lstr>
        </div>

        <div class="panel">
            <lstr>Price</lstr>
        </div>

        <div class="panel">
            <lstr>Rooms</lstr>
        </div>

        <div class="panel">
            <lstr>More</lstr>
        </div>
    </div>

    <div class="si-filter-tags {{model.search_engine_options.filter_tags}}" ng-if="model.search_engine_options.filter_tags!='none'">
        <div class="tag-list">
            <div class="tag-item"><lstr>Min - $250 000</lstr> <i class="fal fa-times"></i></div>
            <div class="tag-item"><lstr>Montréal</lstr> <i class="fal fa-times"></i></div>
            <div class="tag-item"><lstr>Fireplace</lstr> <i class="fal fa-times"></i></div>
        </div>
    </div>
</div>