<div class="immodb-image-slider {{expand_mode?'expanded' : ''}}">
    <div class="viewport"> 
        <div class="trolley" style="transform:translateX(-{{index * 100}}%);grid-gap:{{gap}}px;grid-template-columns: repeat({{pictures.length-1}},100%);">
            <div class="item" data-ng-repeat="img in pictures">
                <img data-ng-src="{{img.url}}" alt="{{getImageAlt(img)}}" />
                <div class="caption">{{getImageCaption(img)}}</div>
            </div>
        </div>
    </div>
    <div class="controls" data-ng-show="pictures.length > 1">
        <div class="btn next" data-ng-click="next()"><i class="fal fa-fw fa-2x fa-angle-right"></i></div>
        <div class="btn previous" data-ng-click="previous()"><i class="fal fa-fw fa-2x fa-angle-left"></i></div>
    </div>
    <div class="preview">
        <div class="trolley">
            <div class="item {{img.index == index?'selected':''}}" data-ng-click="set(img.index)" data-ng-repeat="img in pictures | range: index - 2 : index + 3"><img data-ng-src="{{img.url}}" alt="{{getCaption(img.category,'photo_category')}}" /></div>
        </div>
        <div class="btn expand" data-ng-click="toggleFullscreen()"><i class="fal fa-expand-arrows"></i></div>
    </div>
    <div class="counter">{{pictures.length}} <i class="fal fa-images"></i></div>
</div>