<div class="immodb-searchbox {{suggestions.length>0 ? 'has-suggestions':''}}">
    <div class="input">
        <i class="fal fa-search"></i>
        <input type="text" placeholder="{{placeholder.translate()}}"
            ng-model="data.keyword" ng-keyup="buildSuggestions($event)">
    </div>

    <div class="immodb-searchbox suggestion-list {{suggestions.length>0 ? 'has-suggestions':''}}" 
            style="{{getSuggestionPosition()}}">
        
        <div class="keyword-suggestion {{item.selected?'selected':''}}" 
                ng-repeat="item in suggestions" ng-click="doActionFor(item)">
            {{item.label}}
        </div>
        
    </div>
    
</div>