<div class="immodb-item info-window">
<a href="/{{getPermalink(item)}}">
    <div class="content">
        <div class="image"><img src="{{item.photos[0].url}}" /></div>
        <div class="price">{{formatPrice(item)}}</div>
        <div class="ref_number">{{item.ref_number}}</div>
        <div class="city">{{getCaption(item.location.city_code , 'city')}}</div>
        <div class="region">{{getCaption(item.location.region_code , 'region')}}</div>
        <div class="category">{{getCaption(item.category , 'listing_category')}}</div>
        <div class="subcategory">{{getCaption(item.subcategory , 'listing_subcategory')}}</div>
        <div class="description">{{item.description}}</div>
    </div>
</a>
</div>