<div class="si-calculator">
    <div class="input-container">
        <label>{{'Property evaluation'.translate()}}</label>
        <div class="input" >
            <input type="number" data-ng-model="data.amount" autocomplete="off" data-ng-change="process()" />
        </div>
        <i class="extra fal fa-dollar-sign"></i>
    </div>

    <div class="input-container">
        <label>
            <div>{{'Down payment'.translate()}}</div>
            <div class="alt-method">
                <div class="pretty p-icon p-round p-pulse"
                    data-ng-click="changeDownpaymentMethod('percent')">
                    <input type="radio" name="downpayment_method" data-ng-checked="data.downpayment_method=='percent'" > 
                    <div class="state">
                        <i class="icon far fa-check"></i>
                        <label>%</label>
                    </div>
                </div>

                <div class="pretty p-icon p-round p-pulse"
                    data-ng-click="changeDownpaymentMethod('cash')">
                    <input type="radio" name="downpayment_method" data-ng-checked="data.downpayment_method=='cash'"> 
                    <div class="state">
                        <i class="icon far fa-check"></i>
                        <label>$</label>
                    </div>
                </div>
            </div>
        </label>
        <div class="input">
            <input type="number" autocomplete="off" data-ng-model="data.downpayment" data-ng-change="process()" />
        </div>
        <i class="extra fal fa-{{(data.downpayment_method=='cash') ? 'dollar-sign' : 'percent'}}"></i>
    </div>

    <div class="input-container">
        <label>{{'Interest rate'.translate()}}</label>
        <div class="input">
            <input type="number" autocomplete="off" data-ng-model="data.interest"  data-ng-change="process()" />
        </div>
        <i class="extra fal fa-percent"></i>
    </div>

    <div class="input-container">
        <label>{{'Amortization period'.translate()}}</label>
        <div class="input">
            <input type="number" autocomplete="off" data-ng-model="data.amortization"  data-ng-change="process()" />
        </div>
        <i class="extra fal fa-calendar-alt"></i>
    </div>

    <div class="input-container">
        <label>{{'Payments'.translate()}}</label>

        <div class="input si-dropdown">
            <div class="dropdown-button">
                {{frequencies[data.frequency].translate()}}
            </div>
            <div class="si-dropdown-panel" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item {{(data.frequency==value) ? 'active' : ''}}" data-ng-click="setFrequency(value)" data-ng-repeat="(value,label) in frequencies">{{label.translate()}}</div>
            </div>
        </div>
        <i class="extra fal fa-repeat"></i>
    </div>
</div>