<div class="si-image-slider {{expand_mode?'expanded' : ''}} {{picture_grid_mode?'grid' : ''}} {{!showGrid ? 'no-grid' : '' }}">
    <div class="viewport"> 
        <div class="trolley" style="transform:translateX(-{{index * 100}}%);grid-gap:{{gap}}px;grid-template-columns: repeat({{pictures.length}},100%);">
            <div class="item" data-ng-repeat="img in pictures">
                <img data-ng-src="{{img.url}}" alt="{{getImageAlt(img)}}" />
                <div class="caption"><label>{{getImageCaption(img)}}</label></div>
            </div>
        </div>
    </div>

    <div class="picture-grid-viewport">
        <div class="trolley">
        <div class="item" data-ng-repeat="img in pictures" data-ng-click="set($index)">
            <img data-ng-src="{{img.url}}" alt="{{getImageAlt(img)}}" />
        </div>
    </div>
    </div>

    <div class="navigation-controls" data-ng-show="pictures.length > 1">
        <div class="btn next" data-ng-click="next()"><i class="fal fa-fw fa-2x fa-angle-right"></i></div>
        <div class="btn previous" data-ng-click="previous()"><i class="fal fa-fw fa-2x fa-angle-left"></i></div>
    </div>
    <div class="controls">
        <div class="btn picture-grid" data-ng-click="togglePictureGrid()"><i class="fas fa-th"></i> <label>{{'All pictures'.translate()}}</label></div>
        <div class="btn expand" data-ng-click="toggleFullscreen()"><i class="fas fa-expand-wide"></i> <label>{{'Fullscreen'.translate()}}</label></div>
    </div>
</div>