<div class="si-listing-navigation display-{{display}}" ng-show="!isEmpty()">
    <h3 class="title">{{panelTitle}}</h3>

    <div class="si-listing-list"  si-adaptative-class>
        <div class="item {{$index == 0 ? 'previous' : 'next'}} {{item == null ? 'no-item' : ''}}" ng-repeat="item in list track by $index">
            <a href="{{item.permalink}}">
                <div class="photo">
                    <img data-ng-src="{{item.photo_url}}">
                    
                </div>

                <div class="city">{{item.location.city}}</div>
                <div class="label"><i class="fal fa-arrow-{{($index == 0 ? 'left' : 'right').translate()}}"></i></div>

                <div class="item-content">    
                    <div class="civic-address">{{item.location.civic_address}}</div>
                    <div class="price">{{item.short_price}}</div>
                    
                    <div class="category">{{item.category}}</div>
                    <div class="subcategory">{{item.subcategory}}</div>

                   
                </div>
            </a>
        </div>
    </div>
    
</div>