<div class="si-map-container">
    <div class="si-map-viewport-container">
        <div id="map-{{alias}}" class="viewport"></div>
        <div class="si-selected-item {{getSelectionClassList(selectedItem)}} {{showSelectionPanel ? 'active': ''}}" ng-if="selectedItem != null">
            
                <div class="item-content">
                    
                    <div class="image"><a href="{{selectedItem.permalink}}"><img ng-src="{{selectedItem.photos[0].url}}" /></a></div>
                    <div class="item-infos">
                        <div class="subcategory">{{selectedItem.subcategory}}</div>
                        <div class="price">{{selectedItem.short_price}}</div>

                        <div class="address">{{selectedItem.location.civic_address}}</div>
                        <div class="city">{{selectedItem.location.city}}</div>
                        

                        <div class="si-data-label rooms" >
                            <div class="room {{icon}}" ng-repeat="(icon,room) in selectedItem.counters.rooms"><i class="icon fal fa-fw fa-{{icon}}"></i> <span class="count">{{room.count}}</span> <span class="label">{{room.label | translate}}</span></div>
                        </div>

                    </div>
                    
                    <div class="more-infos">
                        <a href="{{selectedItem.permalink}}"><button type="button" class="si-button">{{'More info' | translate}}</button></a>
                    </div>

                    <div class="flags">
                        <i class="video far fa-video"></i>
                        <i class="virtual-tour far fa-street-view"></i>
                    </div>

                    <div class="si-data-label open-houses">
                        <div class="open-house-item">
                            <i class="fal fa-calendar-alt"></i> <span>{{'Open house'.translate()}}</span> <span data-am-time-ago="selectedItem.open_houses[0].start_date"></span>
                        </div>
                    </div>
                    
                </div>
            
        </div>
    </div>
    <div class="si-map-legend" ng-if="legendList.length > 0">
        <h3 lstr>Legend</h3>
        <div class="si-map-legend-list">
            <div class="si-map-legend-item" ng-repeat="item in legendList track by $index">
                <div class="map-marker-icon {{item.type}}"></div>
                <label>{{item.label}}</label>
            </div>
        </div>
    </div>
</div>