<div class="si-searchbox {{filter.data.keyword != '' ? 'has-input' : ''}} {{suggestions.length>0 ? 'has-suggestions':''}}">
    <div class="input">
        <i class="fal fa-search"></i>
        <div class="suggestion-placeholder"
            ng-show="selectionMatchKeyword()"
            ng-bind-html="getSelectionPlaceholder()"
            >
        </div>
        <input type="text" placeholder="{{placeholder.translate()}}"
            ng-disabled="!is_ready"
            data-ng-model="filter.data.keyword" data-ng-keyup="buildSuggestions($event)">
        <i class="clear-button far fa-times" ng-click="resetFilters()"></i>
    </div>

    <div class="si-searchbox suggestion-list {{suggestions.length>0 ? 'has-suggestions':''}}" 
            style="{{getSuggestionPosition()}}">
        
        <div class="list">
            <div class="keyword-suggestion {{item.selected?'selected':''}}" 
                    data-ng-repeat="item in suggestions" data-ng-click="openItem(item)">
                <i class="fal fa-{{item.type | iconFromType}}"></i>
                <label ng-bind-html="item.caption | wrapWith : 'em' : getWrapRegex() : 1"></label>
            </div>
        </div>
        
    </div>
    
</div>