
// FLEX LAYOUTS
.si-flex-row{
    display:flex;
    flex-direction: row;
    gap: var(--flex-gap, var(--si-layout-gutter));

    @include media($phone){
        &:not(.si-flex-row-phone){
            flex-direction: column;
            --flex-gap:0;
        }
    }
}

.si-flex-column{
    display:flex;
    flex-direction: column;
    gap: var(--flex-gap, var(--si-layout-gutter));
}

.si-flex-align-start{
    align-items: flex-start;
}
.si-flex-align-end{
    align-items: flex-end;
}
.si-flex-align-center{
    align-items: center;
}
.si-flex-align-space-between{
    align-items: space-between;
}
.si-flex-align-start{
    align-items: space-around;
}
.si-flex-align-stretch{
    align-items: stretch;
}


.si-flex-justify-start{
    justify-content: flex-start;
}
.si-flex-justify-end{
    justify-content: flex-end;
}
.si-flex-justify-center{
    justify-content: center;
}
.si-flex-justify-space-between{
    justify-content: space-between;
}
.si-flex-justify-start{
    justify-content: space-around;
}
.si-flex-justify-stretch{
    justify-content: stretch;
}
[flex]{
    flex:1;
}

@include media($phone){
    .si-flex-row-phone{
        display:flex;
        flex-direction: row;
        gap: var(--flex-gap, var(--si-layout-gutter));
    }
    
    .si-flex-column-phone{
        display:flex;
        flex-direction: column;
        gap: var(--flex-gap, var(--si-layout-gutter));
    }
    
    .si-flex-align-start-phone{
        align-items: flex-start;
    }
    .si-flex-align-end-phone{
        align-items: flex-end;
    }
    .si-flex-align-center-phone{
        align-items: center;
    }
    .si-flex-align-space-between-phone{
        align-items: space-between;
    }
    .si-flex-align-start-phone{
        align-items: space-around;
    }
    .si-flex-align-stretch-phone{
        align-items: stretch;
    }
    
    
    .si-flex-justify-start-phone{
        justify-content: flex-start;
    }
    .si-flex-justify-end-phone{
        justify-content: flex-end;
    }
    .si-flex-justify-center-phone{
        justify-content: center;
    }
    .si-flex-justify-space-between-phone{
        justify-content: space-between;
    }
    .si-flex-justify-start-phone{
        justify-content: space-around;
    }
    .si-flex-justify-stretch-phone{
        justify-content: stretch;
    }
}


// si-hide-empty
.si-hide-hard{
    display:none!important;
}
.si-hide-fallback{
    display:none!important;
    + .si-fallback-content{display:contents !important;}
}
.si-hide-soft{
    opacity:0!important;
}