<md-toolbar>
    <div class="md-toolbar-tools">
        <h2><lstr>Sign in to your SourceImmo account</lstr></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"><i class="fal fa-times" aria-label="Close dialog"></i></md-button>
    </div>
</md-toolbar>

<md-dialog-content>
    <div class="md-dialog-content">
        <md-input-container>
            <md-icon class="fal fa-fw fa-envelope"></md-icon>
            <label lstr>Email</label>
            <input ng-model="login_infos.email" si-on-enter="login()" />
        </md-input-container>

        <md-input-container>
            <md-icon class="fal fa-fw fa-key"></md-icon>
            <label lstr>Password</label>
            <input ng-model="login_infos.password" type="password" si-on-enter="login()" />
        </md-input-container>
    </div>
</md-dialog-content>


<md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-repeat="button in actions" ng-disabled="button._working===true || !isActionValid(button)" ng-click="button.action()"><i class="fal fa-spin fa-spinner" ng-if="button._working===true"></i>{{button.label.translate()}}</md-button>
</md-dialog-actions>