<md-toolbar>
    <div class="md-toolbar-tools">
        <h2><lstr>Select a form</lstr></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"><i class="fal fa-times" aria-label="Close dialog"></i></md-button>
    </div>
</md-toolbar>


<md-dialog-content>
    
    <div class="md-dialog-content" >
        <div class="si-search-container">
            <input type="search" ng-model="formFilterQuery">
            <i class="fal fa-search"></i>
        </div>

        <div ng-if="isLoading"><i class="fal fa-fw fa-spinner fa-spin"></i></div>
        
        <div class="si-form-list">
            <div class="si-form-item {{item._selected ? 'selected' : ''}}" ng-repeat="item in formList | orderBy: 'post_title' | filter: formFilterQuery" ng-click="selectForm(item)">
                <div class="form-name">{{item.title}}</div>
                <div class="form-info" layout="row" layout-align="start center" layout-gap="1">
                    <div><i class="fal fa-hashtag"></i>{{item.id}}</div>
                </div>
            </div>
        </div>

    </div> 

</md-dialog-content>



<md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-repeat="button in actions" ng-disabled="!button.isValid()" ng-click="button.action()">{{button.label.translate()}}</md-button>
</md-dialog-actions>