<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 lstr>Edit block options</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"><i class="fal fa-times" aria-label="Close dialog"></i></md-button>
    </div>
</md-toolbar>

<md-dialog-content>
    <div class="md-dialog-content" layout="column" layout-align="stretch stretch">
        <md-input-container>
            <label lstr>Classes</label>
            <si-class-selector ng-model="model.classes" filter="layerVar"></si-class-selector>
        </md-input-container>
    
        
        <md-input-container ng-if="!['group','photo','link_button'].includes(model.key)">
            <label lstr>Fallback data</label>
            <md-select ng-model="model.fallback">
                <md-option ng-value="undefined"></md-option>
                <md-option ng-repeat="item in availableVarList" value="{{item.name}}">{{item.label}}</md-option>
            </md-select>
            <div class="hint" lstr>Use this fallback data if {{model.key}} is empty.</div>        
        </md-input-container>
        
        <md-input-container>
            <label lstr>Custom style attribute</label>
            <input type="text" ng-model="model.style">
        </md-input-container>

        <md-input-container ng-if="['link_button'].includes(model.key)">
            <label lstr>Label</label>
            <si-localized>
                <input type="text" ng-model="model.label[$localized.current]" />
            </si-localized>
        </md-input-container>


        <md-input-container ng-if="['custom'].includes(model.var_type)">
            <label lstr>Label</label>
            <si-localized>
                <input type="text" ng-model="model.options.content[$localized.current]" />
            </si-localized>
        </md-input-container>
    </div>
    
</md-dialog-content>


<md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-repeat="button in actions" ng-click="button.action()">{{button.label.translate()}}</md-button>
</md-dialog-actions>
