body.wp-admin #si-app,
.md-dialog-container{


    .si-data-group-editor{
        height:100%;
        [ng-click]{cursor:pointer;}
        .content{
          
          .group-section{
            border-right:solid 5px var(--item-color);
            padding:20px;
          }
  
          .lists{
            .list{
              display:grid;
              grid-template-columns: 1fr max-content max-content max-content auto auto auto;
              place-items: center start;
              gap:10px 20px;
              
              .list-item{
                display:contents;
  
                .title{
                  place-self:center start;
                  
                  > div{
                    font-size: 1rem;
                    text-transform: uppercase;
                  }
                }
                &.data-row{
                  .title{
                    border-left: solid 2px #ccc;
                    padding-left: 10px;
                  }
                }
              }
            }
          }
  
          .route-list{
            display:grid;
            gap: 0 10px;
            grid-template-columns: 200px 1fr 1fr auto;
            place-items: center stretch;
            .route-item{
              display:contents;
              .route-part{
                md-menu{
                  position: absolute;
                  right:0px;top:50%;transform:translateY(-50%);
                }
              }
            }
          }
  
          .layout-list{
            display:grid;
            gap: 0 10px;
            grid-template-columns: 200px 1fr max-content 1fr 1fr;
            place-items: center stretch;
              
            .layout-item{
              display:contents;
              md-select{margin:0px;}
            }
          }
  
          .list{
            position:relative;
            h3{margin-bottom:0px;}
            .list-item-header{
              > div {
                place-self: end stretch;
                font-size:0.6rem;
                font-style: italic;
                opacity:0.5;
              }
            }
          }
  
          .list-action{
            text-align:right;
            display:flex;
            flex-direction: row;
            justify-content: flex-end;
          }
          
        }
      }
  

    .si-style-editor{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:10px;
        &.no-preview{
            grid-template-columns: 1fr;
        }
  
        .configs{
          [ng-click]{cursor: pointer;}
          h4{
            outline:none;
            position:relative;
            padding-left: 20px;
            &::before{
              content:"\f061";
              font-family: "Font Awesome 5 Pro";
              font-weight: 400;
              transition: 0.25s;
              position: absolute;
              top:50%;
              left:0px;
              transform:translateY(-50%);
            }
            &.active{
              &::before{
                transform:translateY(-50%) rotate(90deg);
              }
            }
          }
          
          .style-group{
            display:grid;
            grid-template-columns: 1fr 1fr;
            max-height:0px;
            overflow:hidden;
            //gap: 10px;
            transition: 0.25s;
  
            .fullrow{
              grid-column: span 2;
            }
            md-input-container{
              margin-bottom:0px;
              .md-errors-spacer{display:none;}
            }
            md-color-picker, [md-color-picker] {
              .md-color-picker-input-container{
                label{padding-left:20px;transition:0.25s;}
                md-input-container{
                  &.md-input-has-value,&.md-input-focused {
                    label:not(.md-no-float){
                      padding-left:0px;
                    }
                  }
                }
                .md-color-picker-preview{
                  position: absolute;
                  top:8px;
          
                  width:15px;
                  height:15px;
                }
                input{padding-left: 20px;}
                .md-color-picker-clear{
                  right:0;
                  bottom: 0px;
                  margin: 0;
                }
              }
            }
  
            &.open{
              max-height:100vh;
              transition: 0.75s;
            }
          }
        }
    }

    .si-style-editor-preview{
        
            padding:10px;
            place-self:stretch;
    
            .viewport{
              padding:10px;
              background: var(--preview-background-color);
              font-family: var(--preview-font-name);
              border:dashed 1px #999;
    
              
              span,div,a,p,b,strong,td,i{
                color: var(--preview-text-color);
              }
              label{
                  font-size: 20px;
                  display: inline-block;
                  clear:both;
                  
                  &.hint{
                      color: #333;
                      font-size: 10px;
                      padding: .25em .5em;
                      opacity: 0.5;
                  }
              }
  
              .si-container{
                  border-radius: var(--preview-container-border-radius);
                  border: var(--preview-container-border);
                  padding: var(--preview-container-padding);
                  display:grid;
                  position: relative;
              }
  
              
              .si-element{
                  position:relative;
                  border-radius: var(--preview-element-border-radius);
                  border: var(--preview-element-border);
              }

              .si-element-placeholder{
                border:dashed 1px var(--preview-text-color);
              }

              .si-element-padding{
                padding: var(--preview-element-padding);
              }

              .si-container-padding{
                  padding: var(--preview-container-padding);
              }

              .si-listing-ref-number{
                  &::before{
                      content: var(--preview-uls-label);
                  }
              }

              .image{
                    img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        object-position: center;
                    }
              }
  
              .si-grid{
                  display:grid;
                  gap: var(--preview-layout-gutter);
                  padding: var(--preview-container-padding);
                  position: relative;
                  
                  &.row{
                      grid-auto-flow: column;
                      place-items: center start;
                  }
              }
  
              .si-highlight{
                  --preview-text-color: var(--preview-highlight);
                  padding:var(--preview-container-padding);
  
              }

              .si-highlight-with-text{
                  background: var(--preview-highlight);
                  color: var(--preview-highlight-text);
                  padding:var(--preview-container-padding);
              }
  
              .contrast-container{
                  padding:var(--preview-container-padding);
              }
              .si-background-small-contrast{
                  background:var(--preview-small-contrast-color);
                  --preview-text-color: var(--preview-small-contrast-text-color);
              }
  
              .si-background-medium-contrast{
                  background:var(--preview-medium-contrast-color);
                  --preview-text-color: var(--preview-medium-contrast-text-color);
              }
  
              .si-background-high-contrast{
                  background:var(--preview-high-contrast-color);
                  --preview-text-color: var(--preview-high-contrast-text-color);
              }
  
              .si-price-sold{
                background-color: var(--preview-listing-item-sold-bg-color);
                --preview-text-color: var(--preview-listing-item-sold-text-color);      
              }
   
              .si-button{
                  transition:0.25s;
                  text-decoration: none;
                  display:inline-block;
                  padding: 0.5em 1em;
                  border-radius: var(--preview-element-border-radius);
                  background: var(--preview-button-bg-color);
                  --preview-text-color: var(--preview-button-text-color);
                  font-family: var(--preview-button-font-name);
      
                  &:hover{
                      background: var(--preview-button-hover-bg-color);
                      --preview-text-color: var(--preview-button-hover-text-color);
                  }
              }
    
              .si-button.alt{
                background: var(--preview-button-alt-bg-color);
                --preview-text-color: var(--preview-button-alt-text-color);
                &:hover{
                  background: var(--preview-button-alt-hover-bg-color);
                  --preview-text-color: var(--preview-button-alt-hover-text-color);
                }
              }
  
              .form{
                  grid-template-columns: 1fr auto auto;
                  input{
                      border: none;
                      outline:none;
                  }
              }
  
              .list-toggler-button{
                  display:inline-grid;
                  grid-auto-flow: column;
                  gap:10px;
                  place-items: center start;
                  padding:10px;
                  i.fal{
                      font-size: 25px;
                      padding:10px;
                      &.selected{
                          color: var(--preview-highlight);
                          border-bottom: solid 2px var(--preview-highlight);
                      }  
                  }
                  
              }
  
              .listing-list, .broker-list, .form{
                  border-radius: var(--preview-container-border-radius);
                  border: var(--preview-container-border);
                  display:grid;
                  gap: var(--preview-layout-gutter);
                  padding: var(--preview-container-padding);
              }
      
                
    
              .listing-list{
                grid-template-columns: repeat(auto-fill, minmax(var(--preview-listing-item-column-width),1fr));
              }
    
              .broker-list{
                grid-template-columns: repeat(auto-fill, minmax(var(--preview-broker-item-column-width),1fr));
              }
              
    
              .listing-item, .broker-item{
                position:relative;
                .content{
                  border: var(--preview-element-border);
                  border-radius: var(--preview-element-border-radius);
                 
                  overflow:hidden;
                }
                
                &::before,&::after{
                  content:"";
                  pointer-events: none;
                  position: absolute;
                  border:solid 2px transparent;
                  border-radius: var(--preview-element-border-radius);
                  z-index: 20;
                  transition: .25s;
                  width:0px;
                  height:0px;
                }
    
                &::before{
                  top:0px;
                  left:0px;
                  border-style: solid none none solid;
                }
                &::after{
                  bottom:0px;
                  right:0px;
                  border-style: none solid solid none;
                }
    
                &:hover{
                  &::before,&::after{
                    border-color: var(--preview-highlight);
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                  }
                }
    
                .picture{
                  position:relative;
                  border:none;
                  overflow: hidden;
                  
                  img{
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    margin:-1px;
                    object-fit: cover;
                    object-position: center;
                    border:none;
                    display:block;
                    -webkit-appearance: none!important;
                  }
                }
              }
              .listing-item{
                .head{
                  background:var(--preview-high-contrast-color);
                  --preview-text-color: var(--preview-high-contrast-text-color);
                  padding:10px;
                }
                .picture{
                  height: calc(var(--preview-listing-item-column-width) *  var(--preview-listing-item-picture-ratio));
                  img{
                    background-image: url('./assets/shadow_property.jpg');
                  }
                }
    
                .uls{
                  padding:10px;
                  &::before{
                    content: var(--preview-uls-label);
                  }
                }
    
                .price{
                  background:var(--preview-small-contrast-color);
                  --preview-text-color: var(--preview-small-contrast-text-color);
                  padding:10px;
                }
    
                &.sold{
                  
                  .price{
                    text-transform: uppercase;
                    background-color: var(--preview-listing-item-sold-bg-color);
                    --preview-text-color: var(--preview-listing-item-sold-text-color);
                  }
                }
              }
    
              .broker-item{
                .picture{
                  height: calc(var(--preview-broker-item-column-width) *  var(--preview-broker-item-picture-ratio));
                  img{
                    background-image: url('./assets/shadow_broker.jpg');
                  }
                }
                .name{
                  background:var(--preview-high-contrast-color);
                  --preview-text-color: var(--preview-high-contrast-text-color);
                  padding:10px;
                  text-align:center;
                  div{text-transform: uppercase;font-size:1.25em;}
                }
                
                .phone{
                  padding:10px;
                  text-align:center;
                }
              }

              .city-item{
                .name, .listings-count, .region, .code{
                  text-align:center;
                }
                .name{
                  font-size: 2rem;
                  text-transform: uppercase;
                }
              }
            
              &.list-layout-direct{
                .search-engine-container{
                  display:none;
                }
                .list-map-toggle, .list-sort{
                  opacity:0;
                }
              }
          }
    }

}