<div class="message">
    <p lstr>Please sign in using your Source.Immo account credentials</p>
    <p class="error-message">{{signin_message}}</p>
</div>

<div class="login-box">
    <md-input-container>
        <label lstr>Email</label>
        <input ng-model="login_infos.email" si-on-enter="signin()" />
    </md-input-container>

    <md-input-container>
        <label lstr>Password</label>
        <input ng-model="login_infos.password" type="password" si-on-enter="signin()" />
    </md-input-container>

    

    <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-disabled="signin_in===true || login_infos.password=='' || login_infos.email == '' || working == true" ng-click="signin()"><lstr ng-if="working == false">Sign in</lstr> <i ng-if="working != false" class="fal fa-fw fa-spin fa-spinner"></i></md-button>
        <md-button class="" href="https://portal.source.immo/" target="_blank"><lstr>Create an account</lstr></md-button>
    </div>

    <div class="backup-restore" ng-if="hasBackup()">
        
            <h3><lstr>Configuration backup detected</lstr></h3>
            <p><lstr>Would you like to restore it?</lstr></p>
        
        <md-button ng-click="restorePreviousInstallation()"><lstr>Restore settings</lstr></md-button>
    </div>
</div>