<div class="infos">
    <h2 lstr>Integration</h2>
    <p lstr>Configure where to display your real estate data.</p>
</div>

<div class="page-select-container">

    <div class="page-select-section header">
        <div></div>
        <div lstr>List page</div>
        <div lstr>Page for details</div>
    </div>

    <div class="page-select-section" ng-repeat="layout in model.layouts">
        <div>
            <h3><i class="fas fa-{{layout.icon}}"></i> <span>{{layout.type_name.translate()}}</span></h3>
        </div>

        <div class="list-pages">
            <md-select ng-model="layout.page">
                <md-option value="NEW" lstr>(Create a new page)</md-option>
                <md-option value="NONE" lstr>(None)</md-option>
                <md-option ng-repeat="item in pages" value="{{item.ID}}" >{{item.post_title}}</md-option>
            </md-select>
        </div>

        <div class="detail-pages">
            <md-select ng-model="layout.detail_page">
                <md-option value="NEW" lstr>(Create a new page)</md-option>
                <md-option value="NONE" lstr>(None)</md-option>
                <md-option ng-repeat="item in pages" value="{{item.ID}}" >{{item.post_title}}</md-option>
            </md-select>
        </div>
    </div>

</div>