<div class="infos">
    <h2 lstr>Integration</h2>
    <p><lstr>Configure where to display your real estate data.</lstr></p>
</div>



<div class="page-select-container">
    
    
    <div ng-repeat="layout in model.layouts">
        <h3><i class="fas fa-{{layout.icon}}"></i> <span>{{layout.type_name.translate()}}</span></h3>
        
        <div class="page-select-section">
            <div class="page-select-part list-pages">
                <label lstr>Use the page</label>
                <md-select ng-model="layout.page">
                    <md-option value="NEW"><lstr>(Create a new page)</lstr></md-option>
                    <md-option value="NONE"><lstr>(None)</lstr></md-option>
                    <md-option ng-repeat="item in pages track by $index" value="{{item.ID}}" >{{item.post_title}}</md-option>
                </md-select>
                <label lstr>to display <em>the list</em></label>
            </div>

            <div class="page-select-part detail-pages">
                <label lstr>and the page</label>
                <md-select ng-model="layout.detail_page">
                    <md-option value="NEW"><lstr>(Create a new page)</lstr></md-option>
                    <md-option value="NONE"><lstr>(None)</lstr></md-option>
                    <md-option ng-repeat="item in pages track by $index" value="{{item.ID}}" >{{item.post_title}}</md-option>
                </md-select>
                <label lstr>for <em>details</em>.</label>
            </div>
        </div>
    </div>

    <p>
        <lstr>Create or select pages in</lstr>
        <md-select ng-model="languages.selected" ng-change="updatePageList()">
            <md-option ng-repeat="lang in languages.list track by $index" ng-value="lang.code">{{lang.name}}</md-option>
        </md-select>
    </p>
    

</div>