<div class="si-data-group-editor">

    
    <div class="content">
        <div class="lists group-section" style="--item-color:#3C8EBD" id="lists" ng-controller="listCollectionCtrl">
            <div class="group-section-title"><i class="far fa-list"></i> <lstr>Lists</lstr></div>
            <div class="list">
                <div class="list-item list-item-header">
                    <div class="main">Alias</div>
                    
                    <div class="shortcode" lstr>Shortcode</div>
                    <div class="layout" lstr>Layout</div>

                    <div class="limit" lstr>Limit</div>
                    <div class="actions"></div>
                </div>

                <div class="list-item data-row {{list.is_default_type_configs ? 'is-default' : ''}}" ng-repeat="list in configs.lists | filter : {'type' : groupType}">
                    <div class="main" ng-click="modify(list)">
                        <h3 class="list-alias">{{list.alias}} <i class="fal fa-pencil"></i></h3>
                        <sub>source: {{list.source.name}}</sub>
                    </div>
                    
                    <div class="shortcode">
                        <div ng-click="copy(getListShortcode(list))">
                            <i class="fal fa-lg fa-copy"></i>
                        </div>
                        <md-button  ng-if="list.type!='listings'" ng-click="copy(getListShortcode(list))">
                            {{getListShortcode(list)}}
                        </md-button>
                        <md-menu ng-if="list.type=='listings'">
                            <md-button ng-click="$mdOpenMenu();$event.stopPropagation()">{{getListShortcode(list)}} <i class="fal  fa-angle-down"></i></md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="copy(getListShortcode(list))"><md-icon class="fal fa-list"></md-icon> <lstr>Copy complete list layout shortcode</lstr></md-button>
                                </md-menu-item>
                                <md-divider></md-divider>

                                <md-menu-item>
                                    <md-button ng-click="copy(getListShortcode(list, 'search'))"><md-icon class="fal fa-search"></md-icon> <lstr>Copy search tool shortcode</lstr></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="copy(getListShortcode(list, 'searchbox'))"><md-icon class="fal fa-keyboard"></md-icon> <lstr>Copy quick search textbox shortcode</lstr></md-button>
                                </md-menu-item>
                                <md-divider></md-divider>

                                <md-menu-item>
                                    <md-button ng-click="copy(getListShortcode(list, 'gallery'))"><md-icon class="fal fa-images"></md-icon> <lstr>Copy listing slider shortcode</lstr></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    
                    <div class="layout" ng-if="false"><span>{{list.list_layout.preset}}/{{list.list_item_layout.preset}}</span></div>
                    <div class="limit" ng-if="false">{{(list.limit==0)? 'unlimited'.translate() : list.limit}}</div>

                    <div class="actions" layout="row" layout-align="center center">
                        <md-button class="md-icon-button" ng-click="edit(list)" ls-title="Edit"><i class="fal fa-pencil"></i></md-button>
                        <md-button class="md-icon-button"  ng-click="clone(list)" ls-title="Clone"><i class="fal fa-copy"></i></md-button>
                        <md-divider></md-divider>
                        <md-button class="md-icon-button" ng-click="remove(list)" ls-title="Remove"><i class="fal fa-trash"></i></md-button>
                        

                        <md-menu ng-if="false">
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu();$event.stopPropagation()"> <i class="fal fa-ellipsis-v"></i></md-button>
                            <md-menu-content>
                                <md-menu-item><md-button ng-click="edit(list)"><md-icon class="fal fa-pencil"></md-icon> <lstr>Edit</lstr></md-button></md-menu-item>
                                <md-menu-item><md-button ng-click="clone(list)"><md-icon class="fal fa-copy"></md-icon> <lstr>Clone</lstr></md-button></md-menu-item>
                                <md-divider></md-divider>
                                <md-menu-item  ng-disabled="(configs.lists | filter : {'type' : groupType}).length==1"><md-button ng-click="remove(list)"><md-icon class="fal fa-trash"></md-icon> <lstr>Delete</lstr></md-button></md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        
                    </div>
                </div>
            
                <md-button class="add-button md-primary md-raised md-icon-button" ng-click="add(groupType)"><i class="fal fa-plus"></i></md-button>
            </div>
            
        </div>

        <div class="single group-section" ng-if="(configs.lists | filter : {'type' : groupType}).length > 0">      
            <div class="group-section-title"><i class="far fa-file"></i> <lstr>Details</lstr></div>

            <div class="lang-list-container">
                

                <div class="lang-item" ng-repeat="langItem in langList track by $index"
                        ng-click="editLangItem(langItem)"  >
                    <div class="lang-item-header lang-{{langItem.lang}}">
                        <div class="flag">
                           <img ng-src="{{'styles/assets/flags/' + langItem.lang + '.svg' | pluginRootRelative}}">
                        </div>
                    </div>
                    
                    <div class="lang-item-body" >

                        <h3 >{{langItem.layout.page || '(No page configured)'.translate() }} <i class="fal fa-pencil"></i></h3>


                        <div class="item-routes">
                            <div class="item-route-items">
                                <h5 lstr>Long path</h5>
                                <div ng-bind-html="langItem.route.route | siRoutePreview"></div>
                                <h5 lstr>Shortcut</h5>
                                <div ng-bind-html="langItem.route.shortcut | siRoutePreview"></div>
                            </div>
                        </div>

                        <div class="actions" si-click-scope>
                            <md-button class="md-icon-button" ng-if="langItem.layout.page" ng-click="editLayoutPage(langItem)" ls-title="Edit the layout page"><i class="fab fa-wordpress"></i></md-button>
                            <md-button class="md-icon-button" ng-disabled="!hasMinLangCount()" ng-click="removeLang($index)" ls-title="Remove this language"><i class="fal fa-trash"></i></md-button>
                        </div>
                        
                        
                    </div>
                </div>

                
                <div  ng-if="lang_codes" class="lang-item empty" ng-repeat="lang in lang_codes  | filter: langNotConfigure">
                    <div class="lang-item-body" ng-click="addLangItem(lang.key)">
                        <lstr>Add</lstr>
                        <div class="flag">
                            <img ng-src="{{'styles/assets/flags/' + lang.key + '.svg' | pluginRootRelative}}">
                        </div>
                        <div><span>{{lang.label}}</span></div>
                    </div>
                </div>


                <md-menu ng-if="false && lang_codes.length > langList.length">
                    <md-button ng-click="$mdMenu.open()"><i class="fal fa-plus"></i> <lstr>Add language</lstr></md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="lang in lang_codes | filter: langNotConfigure">
                            <md-button ng-click="addLangItem(lang.key)">{{lang.label}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </div>
            
        </div>

    </div>
</div>