<div class="si-data-group-editor">

    
    <div class="content">
        <div class="lists group-section" style="--item-color:#3C8EBD" id="lists" ng-controller="listCollectionCtrl">
            <div class="list">
                <div class="list-item list-item-header">
                    <h3 class="title"><i class="far fa-list"></i> <lstr>Lists</lstr></h3>
                    
                    <div class="shortcode" lstr>Shortcode</div>
                    <div class="layout" lstr>Layout</div>

                    <div class="limit" lstr>Limit</div>
                    <div class="actions"></div>
                </div>

                <div class="list-item data-row" ng-repeat="list in configs.lists | filter : {'type' : groupType}">
                    <div class="title" ng-click="edit(list)">
                        <div>{{list.alias}}</div>
                        <sub>source: {{list.source.name}}</sub>
                    </div>
                    
                    <div class="shortcode">
                        <div ng-click="copy(getListShortcode(list))">
                            <i class="fal fa-lg fa-copy"></i> {{getListShortcode(list)}}
                        </div>
                        <md-menu ng-if="list.type=='listings'">
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu();$event.stopPropagation()"><i class="fal  fa-lg fa-ellipsis-v"></i></md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="copy(getListShortcode(list))"><md-icon class="fal fa-list"></md-icon> <lstr>Copy complete list layout shortcode</lstr></md-button>
                                </md-menu-item>
                                <md-divider></md-divider>

                                <md-menu-item>
                                    <md-button ng-click="copy(getListShortcode(list, 'search'))"><md-icon class="fal fa-search"></md-icon> <lstr>Copy search tool shortcode</lstr></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="copy(getListShortcode(list, 'searchbox'))"><md-icon class="fal fa-keyboard"></md-icon> <lstr>Copy quick search textbox shortcode</lstr></md-button>
                                </md-menu-item>
                                <md-divider></md-divider>

                                <md-menu-item>
                                    <md-button ng-click="copy(getListShortcode(list, 'gallery'))"><md-icon class="fal fa-images"></md-icon> <lstr>Copy listing slider shortcode</lstr></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    
                    <div class="layout"><span>{{list.list_layout.preset}}/{{list.list_item_layout.preset}}</span></div>
                    <div class="limit">{{(list.limit==0)? 'unlimited'.translate() : list.limit}}</div>

                    <div class="actions">
                        <md-button class="md-icon-button" ng-click="edit(list)"><md-icon class="fal fa-pencil"></md-icon></md-button>
                        <md-button class="md-icon-button" ng-disabled="configs.lists.length==1" ng-click="remove(list)"><md-icon class="fal fa-times"></md-icon></md-button>
                    </div>
                </div>
            
            </div>
            <div class="list-action">
                <md-button ng-click="add(groupType)"><i class="fal fa-plus"></i> <lstr>Add</lstr></md-button>
            </div>
        </div>

        <div class="links group-section"  ng-show="(configs.lists | filter : {'type' : groupType}).length > 0" style="--item-color:#68217A" id="links">
            <div class="list route-list">
                <div class="route-item list-item-header">
                    <h3><i class="far fa-link"></i> <lstr>Permalinks</lstr></h3>

                    <div lstr>Long path</div>
                    <div lstr>Shortcut</div>
                    <div></div>
                </div>
                
                <si-route-box class="route-item" 
                        ng-repeat="route in configs[routes]" 
                        route="route" list="configs[routes]"
                        type="{{groupType}}" si-change="save_configs()"
                    ></si-route-box>
            </div>

            <div class="list-action">
                <md-menu>
                    <md-button ng-click="$mdMenu.open()"><i class="fal fa-plus"></i> <lstr>Add</lstr></md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="(key, value) in lang_codes">
                            <md-button ng-click="addRoute(configs[routes])">{{value}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div class="details group-section" id="details" ng-show="(configs.lists | filter : {'type' : groupType}).length > 0"  style="--item-color:#17A05D">
            <div class="list layout-list">
                <div class="layout-item list-item-header">
                    <h3><i class="far fa-pencil-ruler"></i> <lstr>Details</lstr></h3>
                    <div lstr>Layout page</div>
                    <div></div>
                    <div lstr>Method used to build forms and manage results</div>
                    <div lstr>Form to use</div>
                </div>

                <div class="layout-item" ng-repeat="layout in configs[layout]">
                    <h4>{{lang_codes[layout.lang]}}</h4>

                    <md-select ng-model="layout.page" ng-change="save_configs()">
                        <md-option ng-repeat="item in wp_pages[layout.lang]" value="{{item.ID}}">{{item.post_title}}</md-option>
                    </md-select>

                    <div>
                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdMenu.open()"><md-icon class="fal fa-ellipsis-h"></md-icon></md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="showPage(layout)"> <i class="fal fa-eye"></i> <lstr>Show in site</lstr></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="generateLayoutPage(layout, groupType)"><i class="fal fa-file-plus"></i> <lstr>Generate</lstr></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="clearLayoutPage(layout)"><i class="fal fa-times"></i> <lstr>Clear</lstr> </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <md-select ng-disabled="layout.type!='standard'" ng-model="layout.communication_mode" ng-change="save_configs()" >
                        <md-option value="basic" lstr>Basic</md-option>
                        <md-option value="wpcf7_contact_form">Contact Form 7</md-option>
                        <md-option value="gravity_form">Gravity Form</md-option>
                    </md-select>
                        
                    <md-select ng-disabled="!['wpcf7_contact_form','gravity_form'].includes(layout.communication_mode)" ng-model="layout.form_id" ng-change="save_configs()" >
                        <md-option ng-repeat="item in formList | filter : {'type':layout.communication_mode} " value="{{item.id}}">{{item.title}}</md-option>
                    </md-select>

                </div>
            </div>
        </div>
    </div>
</div>