<div class="si-filter-item">
    <md-input-container>
        <md-select ng-model="selected_key" ng-change="filterFieldChanged()">
            <md-option ng-repeat="item in filter_key_list[type]" value="{{item.value}}" >{{item.label.translate()}}</option>
        </md-select>
    </md-input-container>  

    <md-input-container>
        
        <md-select ng-model="filter.operator">
            <md-option ng-repeat="item in filter_operators | filter : operatorFilterByField" value="{{item.key}}">{{item.value.translate()}}</option>
        </md-select>

    </md-input-container>

    <div class="value">
        <md-input-container>
            <input ng-model="filter_value" ng-change="updateValue()" />
        </md-input-container>

        <md-menu>
            <md-button ng-click="$mdMenu.open()" class="md-icon-button"><i class="fal fa-lg fa-ellipsis-v"></i></md-button>
            <md-menu-content>
                <md-menu-item ng-if="selected_filter_key.value_type=='bool'"
                    ng-click="setValue(true)">
                    <md-button>{{'Yes'.translate()}}</md-button>
                </md-menu-item>
                <md-menu-item ng-if="selected_filter_key.value_type=='bool'"
                    ng-click="setValue(false)">
                    <md-button>{{'No'.translate()}}</md-button>
                </md-menu-item>
            
                <md-menu-item ng-if="selected_filter_key.value_type=='text'"
                    ng-click="setValue(item.key)" ng-repeat="item in value_choices">
                    <md-button>{{item.label.translate()}}</md-button>
                </md-menu-item>
                
                <md-menu-item ng-if="selected_filter_key.value_type=='list'"
                    ng-click="toggleValue(item.key)" ng-repeat="item in value_choices">
                    <md-button>{{item.label.translate()}}</md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>

    </div>

    <div>
        <md-button ng-click="remove()" class="md-icon-button"><md-icon class="fal fa-times"></md-icon></md-button>
    </div>
</div>
