<div class="si-route-box">
    <md-input-container class="route-part">
      <label lstr>Long path</label>
      <input ng-model="route.route" ng-model-options="{updateOn: 'blur'}" ng-change="update()" />
      <md-menu>
          <md-button class="md-icon-button" 
            ng-disabled="elementAvailable('route')==0"
            ng-click="$mdOpenMenu()"><i class="far fa-plus"></i></md-button>
          <md-menu-content>
            <md-menu-item ng-repeat="(key, value) in route_elements"
                ng-show="!elementIsUsed(key,'route')">
              <md-button ng-click="addRouteElement(key,'route')"><md-icon class="fal fa-plus"></md-icon> {{value.translate()}}</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </md-input-container>

    <md-input-container class="route-part">
      <label lstr>Shortcut</label>
      <input ng-model="route.shortcut" ng-model-options="{updateOn: 'blur'}" ng-change="update()" />
      <md-menu>
          <md-button class="md-icon-button" 
            ng-disabled="elementAvailable('shortcut')==0"
            ng-click="$mdOpenMenu()"><i class="far fa-plus"></i></md-button>
          <md-menu-content>
            <md-menu-item ng-repeat="(key, value) in route_elements"
                ng-show="!elementIsUsed(key,'shortcut')">
              <md-button ng-click="addRouteElement(key,'shortcut')"><md-icon class="fal fa-plus"></md-icon> {{value.translate()}}</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </md-input-container>

  </div>