<div class="si-route-box">
    <h4>{{lang_codes[route.lang]}}</h4>
    
    <md-input-container class="route-part">
      <input ng-model="route.route" ng-model-options="{updateOn: 'blur'}" ng-change="update()" />
      <md-menu>
          <md-button class="md-icon-button" 
            ng-disabled="elementAvailable('route')==0"
            ng-click="$mdOpenMenu()"><i class="far fa-plus"></i></md-button>
          <md-menu-content>
            <md-menu-item ng-repeat="(key, value) in route_elements"
                ng-show="!elementIsUsed(key,'route')">
              <md-button ng-click="addRouteElement(key,'route')"><md-icon class="fal fa-plus"></md-icon> {{value.translate()}}</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </md-input-container>

    <md-input-container class="route-part">
      <input ng-model="route.shortcut" ng-model-options="{updateOn: 'blur'}" ng-change="update()" />
      <md-menu>
          <md-button class="md-icon-button" 
            ng-disabled="elementAvailable('shortcut')==0"
            ng-click="$mdOpenMenu()"><i class="far fa-plus"></i></md-button>
          <md-menu-content>
            <md-menu-item ng-repeat="(key, value) in route_elements"
                ng-show="!elementIsUsed(key,'shortcut')">
              <md-button ng-click="addRouteElement(key,'shortcut')"><md-icon class="fal fa-plus"></md-icon> {{value.translate()}}</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </md-input-container>

    <div class="route-actions">
        <md-menu>
          <md-button class="md-icon-button" 
            ng-disabled="elementAvailable()==0"
            ng-click="$mdOpenMenu()"><i class="far fa-ellipsis-v"></i></md-button>
          <md-menu-content>
          <md-menu-item>
              <md-button
                ng-disabled="hasMinRouteCount()" ng-click="remove()">
                <md-icon class="fal fa-times"></md-icon>
                <lstr>Remove this route</lstr>
            </md-button>
          </md-menu-item>
          <md-menu-item>
              <md-button
                ng-click="reset()">
                <md-icon class="fal fa-sync"></md-icon>
                <lstr>Reset to default</lstr>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

  </div>