body.wp-admin{
  $primary : #2196F3;
  $warn: #ff0000;
  $accent: #FF6E40;
  $primary_text: #fff;
  $warn_text: #fff;
  $accent_text: #fff;
  
  #si-app{
    

    h1{
      .version{font-size:12px;opacity:0.4;}
    }
    h1,h2,h3,h4,h5{
      margin:1.2em 0 0.5em 0;
      span{display:block;line-height:0.8em;}
      sub{display:block;text-transform: initial;font-size:50%;}
    }

    h3,h4,h5{
      text-transform:uppercase;
    }
    .md-headline{margin-top:40px;margin-bottom:10px;}
    .md-text-warn{color:$warn;}
    .app-header{
      .logo{
        width:50px;height:50px;
        float:left;
        margin-right: 10px;
        svg{width:100%;height:100%;}
      }
    }
    .page-viewport{
      width:100%;overflow:hidden;
      .page-container{
        display:grid;
        grid-template-columns: calc(100vw - 180px) calc(100vw - 180px);
        transition:0.5s;
      }
    }

    .loading-screen{
      position: fixed;
      top:0px;left:50%;
      transform:translate(-50%,-50%);
      transition:0.25s;
      transition-delay: opacity 0.5s;
      
      background:#fff;
      box-shadow: 
        0 0 5px #00000088,
        0 0 15px #00000088;
      
      z-index:99;
      opacity:0;
      pointer-events: none;
      .loading-anim{
        padding:40px;
        width: 200px;height:200px;
        overflow: hidden;
        svg{width:100%;height:100%;}
      }
      .loaded-components{
        background:#ddd;
        padding:20px;
        min-height:40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .comp-item{padding:10px;}
      }
    }
    .app-header,.page-viewport{transition:0.25s;opacity:0;pointer-events:none;}
    &.warming-up{
      .loading-screen{opacity:1;top:50%;transition-delay: opacity 1s;}
    }
    &.ready{
      .loading-screen{
        opacity:0;
        transition-delay: 2s;
      }
      .app-header,.page-viewport{
        opacity:1;
        pointer-events: auto;
        transition-delay: 2s;
      }
    }
    .layout-container{
      display:grid;
      grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
      grid-template-rows:auto;
      grid-gap:10px;
      place-items: start stretch;
      .layout-item{
        display:grid;
        grid-template-columns: 1fr;
        grid-gap:10px;
        place-items: start stretch;
        > h1,> h2,> h3,> h4,> h5{
          margin-bottom:0px;
        }
      }
    }

    .unregister-box{
        padding:30px;
        display:grid;
        grid-template-columns:1fr;
        place-items:stretch;

        .registration-summary{
          position: absolute;
          left: -20px;
          max-width: 370px;
          padding: 20px;
          background: #dfdfdf;
          border-radius: 0 5px 5px; 

          ol{
            counter-reset: roadmap-counter;
            list-style: none;
            margin: 0;

            li.step{
              counter-increment: roadmap-counter;
              padding: 10px 0 10px 30px;
              position:relative;
              opacity: 0.5;
              &::before{
                content:counter(roadmap-counter);
                position: absolute;
                font-size: 25px;
                width: 30px;
                text-align: center;
                top:50%;left:0px;transform: translateY(-50%);
              }
              &.current{
                font-weight: 700;
                color:#0072A5;
                opacity: 1;
                &::before{
                  content:"\f061";
                  font-weight: 500;
                  font-family:"Font Awesome 5 Pro";
                }

              }
              &.done{
                font-weight: 700;
                opacity: 1;
                &::before{
                  content:"\f058";
                  font-family:"Font Awesome 5 Pro";
                  font-weight: 700;
                  color:#159F5C;
                }
              }
            }
          }
        }
        .registration-trolley{
          display:grid;
          grid-template-columns: repeat(5, 100%);
          transform:translateX(calc(-100% * var(--register-step)));
          place-items:start center;
          transition:0.25s;
        }

        .message{
          text-align:center;
        }

        .login-box{
          display:grid;
          min-width:300px;
          grid-template-columns:1fr;
          place-items:stretch; 
        }

        .registration-step{
          .infos{
            position:relative;
            margin-bottom:20px;
            &::before{
              content:"";
              position: absolute;top:10px;left:-50px;
              width:30px;height:30px;border:solid 3px #333;
              border-radius:50%;
            }
            h2{
              position:relative;
              padding: 0 0 10px 0;
              margin-bottom: 5px;
              &::before{
                content:"";
                position: absolute;bottom:0px;left:-15px;
                width:calc(100% + 15px);height:1px;background-color:#333;
              }
            }
            p{
              margin:0;opacity:0.75;
            }
          }
        }

        .account-list,.key-list,.view-list{
          display:grid;
          grid-template-columns:1fr;
          grid-gap:10px;
          .account-item,.key-item, .view-item{
            display:grid;
            grid-template-columns:auto 1fr auto;
            grid-gap:10px;
            place-items:center stretch;
            span{
              border-bottom:dotted 1px #ccc;
            }
          }
        }

        .page-list{
          display:grid;
          grid-template-columns:1fr;
          grid-gap:20px;
          place-items: stretch;

          .apply-button{place-self:center;}
        }

    }

    .config-grid-block{
      display:grid;
      grid-template-columns: 1fr 5fr;
      grid-gap: 10px;
      h2{margin:10px;}
      .block-content{
        padding:10px;
        h4{margin:10px 0 0 0;padding:0;}
        &.layout-container{
          grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        }
      }
    }

    .basics-settings{
      display:grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 4fr;
      
    }

    .permalink-settings{
      .si-route-box{
        &.headers{
          border-bottom:solid 1px #1E88E5;
          div{font-size:13px;text-transform:uppercase;color:#1E88E5;opacity:0.75;}
          .empty{width:50px;}
        }
      }
    }    

    .list-list{
      margin-top:20px;
      display:grid;
      grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
      grid-gap:10px;
      align-items: center;

      .list-item{
        max-width:400px;
        
        
        .header{
          margin:0;
          padding:10px;
          background:$primary;
          color:$primary_text;
          border-radius:5px 5px 0 0;
          cursor:pointer;
          .md-headline{
            margin:0px;color:inherit;
           
              span{
                max-width:280px;display:block;
                text-overflow: ellipsis;
                overflow:hidden;
                white-space: nowrap;
              }
            
          }
        }
        .infos{
          padding:10px;
          display: grid;
          grid-template-columns: 1fr 50px;
          grid-gap:10px;
          align-items: center;
          border:solid 1px #ccc;border-top:none;
          border-radius:0 0 5px 5px;
          i{justify-self: flex-start;}
          span{justify-self: flex-end;}
          button.md-button{
            margin:0px;padding:0px;
          }
        }
      }
    }

    #listEdit{
      //md-dialog{min-width: 75vw;}
      .back-button{
        width:60px;height:60px;line-height:60px;
        i{font-size:30px;}
      }
      .grid-layout{
        grid-template-columns: 80px 400px 3fr;
      }
      .options{
        .input-container{
          padding:10px 0;
          label{margin-left:3px;}
          md-checkbox{margin:0px;}
        }
      }
      .list-filters{
        .si-filter-group{
          padding:5px 5px 5px 0;
          .si-filter-group{
            border:dashed 1px #ccc;
            
          }
          .group-header{
            background-color:#ccc;
          }
          .subgroup{
            padding: 5px;
            width: calc(100% - 10px);
          }
          .filter-operator{
            text-transform: uppercase;font-weight: 700;
          }
          &.group-operator-and{
            >div{
              >.filters,>.subgroups{
                border-left:10px solid #159F5C;
                .filter-operator{color:#159F5C;}
              }
            }
          }
          &.group-operator-or{
            >div{
              >.filters,>.subgroups{
                border-left:10px solid #F17421;
                .filter-operator{color:#F17421;}
              }
            }
          }

          .filters,.subgroups{
            padding-left:10px;
            .filter-operator{text-align:center;}
            &:last-child{
              > .filter-operator{display:none;}
            }
          }

          .grid-row{
            grid-template-columns: 1fr 1fr 1fr 50px;
            grid-gap:10px;
            md-input-container{
              margin:0px;
              .md-errors-spacer{display:none;}
            }
            &.header{
              margin-top:20px;
              margin-left: 25px;
              div{
                //font-style: italic;font-size:80%;
                &:not(:first-child){text-align:center;}
              }
            }
          }
        }
        
      }
      .layouts{
        padding:10px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
        justify-content: stretch;
        .layout{
          justify-self: stretch;
        }
      }
    }

  }

  lstr{display: inline-block;}

  /* Grid and rows basics */
  .grid-layout{
    display:grid;
    grid-gap: 20px;
  }

  .grid-row{
    display:grid;
    &.header{
      border-bottom:solid 1px #1E88E5;
      div{font-size:13px;text-transform:uppercase;color:#1E88E5;opacity:0.75;}
    }
  }
  /* Directives */
  #si-app{
    .si-data-group-editor{
      height:100%;
      [ng-click]{cursor:pointer;}
      .content{
        
        .group-section{
          border-left:solid 5px var(--item-color);
          padding:20px;
        }

        .lists{
          .list{
            display:grid;
            grid-template-columns: 1fr max-content max-content max-content auto auto auto;
            place-items: center start;
            gap:10px 20px;
            
            .list-item{
              display:contents;

              .title{
                place-self:center start;
                
                > div{
                  font-size: 1rem;
                  text-transform: uppercase;
                }
              }
              &.data-row{
                .title{
                  border-left: solid 2px #ccc;
                  padding-left: 10px;
                }
              }
            }
          }
        }

        .route-list{
          display:grid;
          gap: 0 10px;
          grid-template-columns: 200px 1fr 1fr auto;
          place-items: center stretch;
          .route-item{
            display:contents;
            .route-part{
              md-menu{
                position: absolute;
                right:0px;top:50%;transform:translateY(-50%);
              }
            }
          }
        }

        .layout-list{
          display:grid;
          gap: 0 10px;
          grid-template-columns: 200px 1fr 1fr 1fr 1fr;
          place-items: center stretch;
            
          .layout-item{
            display:contents;
            md-select{margin:0px;}
          }
        }

        .list{
          position:relative;
          h3{margin-bottom:0px;}
          .list-item-header{
            > div {
              place-self: end stretch;
              font-size:0.6rem;
              font-style: italic;
              opacity:0.5;
            }
          }
        }

        .list-action{
          text-align:right;
          display:flex;
          flex-direction: row;
          justify-content: flex-end;
        }
        
      }
    }



    .si-filter-item{
      .value{
        md-input-container{width:100%;}
      }
    }

    .si-route-box{
      display:grid;
      grid-template-columns: 100px 2fr  1fr auto auto auto;
      align-items: center;
      grid-gap: 10px;
      md-input-container{
        margin:0px;
        .md-errors-spacer{display:none;}
      }
    }

    .si-tooltip{
      position:relative;
      display:inline-block;
      pointer-events: auto!important;
      
    }
  }

  
  
    .si-tooltip-content{
      pointer-events: none;
      position: absolute;
      padding: 10px;
      color: $primary_text;
      opacity:0;
      transition:opacity 0.25s, transform 0.5s;
      transform: translate(-50%,-200%) rotateX(90deg);
      z-index:99999;
      transform-origin: center bottom;
      transform-style: preserve-3d;
      perspective: 500px;
      
      label{position:relative;z-index:10;font-size:16px;}
      &::before{
        content:"";
        position: absolute;
        top:0px;left:0px;bottom:0px;right:0px;
        border-radius:5px;
        background: $primary;  
        z-index:1;
      }
      &::after{
        content:"";
        position: absolute;
        left:50%;bottom:-20px;width:0px;height:0px;
        transform:translateX(-50%);
        border-style:solid;
        border-width: 12px;
        border-color: $primary transparent transparent transparent;  
        z-index:1;
      }
      &.show{
        opacity:1;
        transform:translate(-50%,-200%) rotateX(0deg);
      }
      
    }
  
  


  label.placeholder{
    text-transform: uppercase;
    font-size:25px;
    font-weight: 300;
    opacity: 0.25;
    pointer-events: none;
    padding:20px;
    text-align:center;
    display:block;
  }

  /* Dialog Styles */
  .md-dialog-container{
    md-toolbar{
      color:#fff;
      h2{color:inherit;}
    }

  }

  /* Material Overrides */
  md-icon{
    &.fas, &.fal, &.far{
      line-height: 1.2em;
      font-size: 20px;
      text-align: center;
    }
  }

  md-input-container{
    margin-bottom:0px;
    &.no-error{
      .md-errors-spacer{display:none;}
    }
    input,input:focus,textarea, textarea:focus{box-shadow:none;outline:none;}
    textarea{max-height:15em;}
  }
  md-input-container.md-input-focused label:not(.md-no-float), 
  md-input-container.md-input-has-placeholder label:not(.md-no-float), 
  md-input-container.md-input-has-value label:not(.md-no-float){
    transform: translate3d(0,6px,0);
  }

  &.md-dialog-is-showing{
    md-backdrop.md-dialog-backdrop {
        z-index: 9999;
    }
    .md-dialog-container{
      z-index: 99999;
    }
    .md-select-menu-container{
      z-index: 999999;
    }
  }
}