:root{
  --si-highlight: #ff9900;
}

body.wp-admin{
  $primary : #2196F3;
  $warn: #ff0000;
  $accent: #FF6E40;
  $primary_text: #fff;
  $warn_text: #fff;
  $accent_text: #fff;


  
  #si-app{
    padding-right: 20px;
    background-color: #F1F1F1;
    h1{
      .version{font-size:12px;opacity:0.4;}
    }
    h1,h2,h3,h4,h5{
      margin:1.2em 0 0.5em 0;
      span{display:block;line-height:0.8em;}
      sub{display:block;text-transform: initial;font-size:50%;}
    }

    h3,h4,h5{
      text-transform:uppercase;
    }
    label{
      .hint{
        font-size:0.8em;
      }
    }
    
    .md-headline{margin-top:40px;margin-bottom:10px;}
    .md-text-warn{color:$warn;}
    .app-header{
      @keyframes info-slide-in {
        0% {opacity:0;transform:translateX(-100%);}
        100% {opacity:1;transform:translateX(0);}
      }
      .app-info{
        animation: info-slide-in 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
      }
      .logo{
        width:50px;height:50px;
        float:left;
        margin-right: 10px;
        svg{width:100%;height:100%;}
      }
    }
    .page-viewport{
      width:100%;overflow:hidden;
      .page-container{
        display:grid;
        grid-template-columns: repeat(2,100%);
        transition:0.5s;
      }
    }

    .loading-screen{
      position: fixed;
      top:50%;left:50%;
      transform:translate(-50%,-50%);
      transition:0.25s;
      transition-delay: opacity 0.5s;
      
      z-index:99;
      opacity:0;
      pointer-events: none;
      display:flex;
      flex-direction: column;
      align-items: center;

      .loading-anim{
        padding:40px;
        width: 200px;height:200px;
        overflow: hidden;
        svg{width:100%;height:100%;}
        // box-shadow: 
        //   0 0 5px #00000088,
        //   0 0 15px #00000088;
      }
      .loading-message{
        text-align:center;
        text-transform: uppercase;
        opacity:0.5;
      }
      .loaded-components{
        //background:#ddd;
        padding:20px;
        min-height:80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .comp-item{padding:10px;}
      }
    }
    .app-header,.page-viewport{transition:0.25s;opacity:0;pointer-events:none;}
    &.warming-up{
      .loading-screen{opacity:1;top:50%;transition-delay: opacity 1s;}
    }
    &.ready{
      .loading-screen{
        opacity:0;
        transition-delay: 2s;
      }
      .app-header,.page-viewport{
        opacity:1;
        pointer-events: auto;
        transition-delay: 2s;
      }
    }
    .layout-container{
      display:grid;
      grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
      grid-template-rows:auto;
      grid-gap:10px;
      place-items: start stretch;
      .layout-item{
        display:grid;
        grid-template-columns: 1fr;
        grid-gap:10px;
        place-items: start stretch;
        > h1,> h2,> h3,> h4,> h5{
          margin-bottom:0px;
        }
      }
    }

    .config-panel{
      border: solid 1px #ccc;
      background:#fcfcfc;
      display:grid;
      grid-template-columns: max-content 1fr;

      .section-navigations{
        //padding: 10px 0;
        border-right:solid 1px #ccc;
        .nav-button-list{
          display:grid;
          grid-template-columns: 1fr;
          place-items:center stretch;
          //gap: 10px;
          .nav-button{
            font-size: 16px;
            padding: 15px 10px;
            padding-right: 20px;
            text-transform: uppercase;
            position:relative;
            border-bottom-style: solid;
            border-color: #ccc;
            border-width: 1px;
            cursor:pointer;
            i{
              margin-right: 5px;
              position:relative;
              b{
                position: absolute;
                top:0;
                right:0px;
                font-family: Arial, Helvetica, sans-serif;
                transform: translate(50%,-50%);
                font-size: 10px;
                line-height: 14px;
                border-radius: 50%;
                width:14px;
                height:14px;
                background: #D01637;
                color:#fff;
                text-align:center;
              }
            }
            &::after{
              content:"";
              position: absolute;
              right:0px;
              top:0px;
              height:100%;
              width:0px;
              background: #27B5CA;
              transition:0.25s;
            }
            &.selected{
              &::after{
                width:5px;
              }
            }
          }
        }
      }

      .sections{
        position: relative;
        section{
          overflow:hidden;
          max-height:0px;
          transition:0.25s;
          opacity:0;
          &.selected{
            max-height:150vh;
            opacity:1;

            &#styles{
              padding:10px;
            }
          }

          
        }
      }
    }

    .message-box{
      position: absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      .content{
        position: absolute;
        top:50%;
        left:50%;
        margin:10px;
        transform:translate(-50%,-50%);
        border-radius: 5px;
        box-shadow: 0 5px 10px 0 #00000077,0 0 300px 300px #f1f1f1;
        background:#fff;
        text-align:center;
        padding:20px;
        h2{font-size: 24px;}
        svg {
          width: 100px;
          display: block;
          margin: 40px auto 0;
        }
        
        .path {
          stroke-dasharray: 1000;
          stroke-dashoffset: 0;
          
          &.circle {
            -webkit-animation: dash .9s ease-in-out;
            animation: dash .9s ease-in-out;
          }
          &.line {
            stroke-dashoffset: 1000;
            -webkit-animation: dash .9s .35s ease-in-out forwards;
            animation: dash .9s .35s ease-in-out forwards;
          }
          &.check {
            stroke-dashoffset: -100;
            -webkit-animation: dash-check .9s .35s ease-in-out forwards;
            animation: dash-check .9s .35s ease-in-out forwards;
          }
        }
        
        
        
        @-webkit-keyframes dash {
          0% {
            stroke-dashoffset: 1000;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
        
        @keyframes dash {
          0% {
            stroke-dashoffset: 1000;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
        
        @-webkit-keyframes dash-check {
          0% {
            stroke-dashoffset: -100;
          }
          100% {
            stroke-dashoffset: 900;
          }
        }
        
        @keyframes dash-check {
          0% {
            stroke-dashoffset: -100;
          }
          100% {
            stroke-dashoffset: 900;
          }
        }
      }
    }

    .config-grid-block{
      display:grid;
      grid-template-columns: 1fr 5fr;
      grid-gap: 10px;
      h2{margin:10px;}
      .block-content{
        padding:10px;
        h4{margin:10px 0 0 0;padding:0;}
        &.layout-container{
          grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        }
      }
    }

    .general-infos{
      display:grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      .welcome-message{
        padding: 0 1rem;
      }

      .notice-list{
        display:grid;
        gap:1rem;
        padding: 1rem 0;
      }
    }

    .permalink-settings{
      .si-route-box{
        &.headers{
          border-bottom:solid 1px #1E88E5;
          div{font-size:13px;text-transform:uppercase;color:#1E88E5;opacity:0.75;}
          .empty{width:50px;}
        }
      }
    }    

    .list-list{
      margin-top:20px;
      display:grid;
      grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
      grid-gap:10px;
      align-items: center;

      .list-item{
        max-width:400px;
        
        
        .header{
          margin:0;
          padding:10px;
          background:$primary;
          color:$primary_text;
          border-radius:5px 5px 0 0;
          cursor:pointer;
          .md-headline{
            margin:0px;color:inherit;
           
              span{
                max-width:280px;display:block;
                text-overflow: ellipsis;
                overflow:hidden;
                white-space: nowrap;
              }
            
          }
        }
        .infos{
          padding:10px;
          display: grid;
          grid-template-columns: 1fr 50px;
          grid-gap:10px;
          align-items: center;
          border:solid 1px #ccc;border-top:none;
          border-radius:0 0 5px 5px;
          i{justify-self: flex-start;}
          span{justify-self: flex-end;}
          button.md-button{
            margin:0px;padding:0px;
          }
        }
      }
    }

    .advanced-settings{
      .data-view-list{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items:center;
        
        .data-view-item{
          padding: 0.5em 1.25em;
          margin: 0.5em;
          font-size: 1rem;
          &.default{
            
            color: $primary;
            font-weight: 700;
            border: solid 2px $primary;
          }
        }
      }

    }

  }

  lstr{display: inline-block;}

  /* Grid and rows basics */
  .grid-layout{
    display:grid;
    grid-gap: 20px;
  }

  .grid-row{
    display:grid;
    &.header{
      border-bottom:solid 1px #1E88E5;
      div{font-size:13px;text-transform:uppercase;color:#1E88E5;opacity:0.75;}
    }
  }
  /* Directives */
  #si-app{
    md-tabs{
      md-tabs-content-wrapper{
        padding-right:20px;
      }
    }



    .si-filter-item{
      .value{
        md-input-container{width:100%;}
      }
    }

    .si-route-box{
      display:grid;
      grid-template-columns: 100px 2fr  1fr auto auto auto;
      align-items: center;
      grid-gap: 10px;
      md-input-container{
        margin:0px;
        .md-errors-spacer{display:none;}
      }
    }

    .si-tooltip{
      position:relative;
      display:inline-block;
      pointer-events: auto!important;
      
    }

    .basics-settings{
      .header{
        display:grid;
        grid-template-columns: 2fr 1fr;
        gap:10px;
      }
    }
    
  }

  
  
    .si-tooltip-content{
      pointer-events: none;
      position: absolute;
      padding: 10px;
      color: $primary_text;
      opacity:0;
      transition:opacity 0.25s, transform 0.5s;
      transform: translate(-50%,-200%) rotateX(90deg);
      z-index:99999;
      transform-origin: center bottom;
      transform-style: preserve-3d;
      perspective: 500px;
      
      label{
        position:relative;z-index:10;font-size:16px;display:block;
        > div{
          white-space: nowrap;
        }
      }
      &::before{
        content:"";
        position: absolute;
        top:0px;left:0px;bottom:0px;right:0px;
        border-radius:5px;
        background: $primary;  
        z-index:1;
      }
      &::after{
        content:"";
        position: absolute;
        left:50%;bottom:-20px;width:0px;height:0px;
        transform:translateX(-50%);
        border-style:solid;
        border-width: 12px;
        border-color: $primary transparent transparent transparent;  
        z-index:1;
      }
      &.show{
        opacity:1;
        transform:translate(-50%,-200%) rotateX(0deg);
      }
      
    }
  
  


  label.placeholder{
    text-transform: uppercase;
    font-size:25px;
    font-weight: 300;
    opacity: 0.25;
    pointer-events: none;
    padding:20px;
    text-align:center;
    display:block;
  }

  .input-container{
    padding: 10px 3px;
    label{
      margin-bottom: 10px;
      display: block;
      opacity: 0.65;
    }
  }

  /* Dialog Styles */
  .md-dialog-container{
    position:fixed;
    top:0px!important;
    md-toolbar{
      color:#fff;
      h2{color:inherit;}
    }

  }

  #si-app,
  .md-dialog-container{
    note{
      font-size: 0.8em;
      font-style: italic;
      em{font-weight: 700; color: $primary;}
    }
  }
}



@import 'admin/_pages';

@import 'admin/_dialogs';

@import 'admin/_directives';

@import 'admin/_overrides';
