@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,300i,400,400i,600,600i,700,700i');

@media print{
    @page{
        width:8.5in;
        height:11in;
        margin:0px;
    }

    .print-button{display:none;}
}

:root{
    --title-font : 'Montserrat';
    --element-border-radius: 0.1in;
}

html.print{
    margin-top:0px !important;padding:0px;
    background:#ccc!important;
    *{box-sizing: border-box;}
    body{
        
        background:#ccc!important;
        margin:0px;padding:0px;
        font-size:0.12in;
        font-family:'Open Sans';
        p,label,span,td,li,em{font-family:'Open Sans';}
        h1{font-size:2rem;}
        h2{font-size:1.7rem;}
        h3{font-size: 1.375rem;}
        h4{font-size: 1.25rem;}
        h5{font-size: 1.15rem;}

        .info-panel{
            position:fixed;
            top:0px;
            left:0;
            bottom:0;
            width: 25vw;
            overflow:hidden auto;
        }
        .print-button{
            position:fixed;
            display:block;
            left: calc(50%  + 5in);
            top:1in;
            background-color:transparent;
            color: var(--highlight-text-color);
            width: 1in;height:1in;line-height:1in;
            text-align:center;
            border:none;
            
            i{font-size: 2rem;z-index:2;position:relative;}
            &::before{
                content:"";
                position: absolute;
                width:80%;height:80%;
                top:50%;left:50%;transform:translate(-50%,-50%);
                border-radius:50%;
                background-color:var(--highlight);
            }
            &:hover{
                &::before{
                    width:100%;height:100%;
                    transition:0.25s;
                }
            }
        }
        page{
            display:block;
            margin:20px auto;
            background:#ffffff;
            width:8.5in;
            height:11in;
            padding:0.5in;
            position:relative;
            overflow:hidden;
            &:nth-child(n+2){
                counter-increment: page;
            }
            @media print{
                margin:0px;
            }

            .page-background{
                position: absolute;
                top:50%;left:50%;width:calc(100% + 0.2in);height:calc(100% + 0.2in);
                transform:translate(-50%,-50%);
                &::after{
                    content:"";
                    position: absolute;
                    top:0in;left:0in;width:100%;height:100%;
                }
                img{
                    object-fit: cover;
                    width:100%;height:100%;
                }
            }
            header{
                position: absolute;
                top:0in;left:0in;width:100%;
            }
            footer{
                position: absolute;
                bottom:0in;left:0in;width:100%;
            }
            header, footer{
                z-index:99;
                background:var(--background-color);
                padding:0.1in;height:0.5in;
                .page-counter{
                    position:absolute;
                    right:0px;bottom:0px;
                    width:0.5in;height:0.5in;line-height:0.5in;
                    background-color:var(--highlight);
                    color:var(--highlight-text-color);
                    text-align: center;
                    font-style: normal;
                    font-weight: 700;
                    &::after{
                        content:counter(page);
                    }
                }
                
            }
            note{
                display:block;
                font-style:italic;
                font-weight: 700;
                padding-left:0.05in;
                margin:0.05in 0;
                border-left:solid 0.02in var(--highlight);
            }
        }

        label {
            color: var(--text-color);
            display: block;
            font-weight: 800;
            margin-bottom: 0.5em;
        }

        @for $i from 1 through 5{
            h#{$i}{
                font-family:var(--title-font); 
                font-weight: 400;
            }
        }

        @for $i from 1 through 20{
            .blur-#{$i}{filter:blur(#{$i}px);}
        }
        @for $i from 1 through 20{
            .opacity-#{$i * 5}{opacity: #{($i * 5)/100};}
        }

        .panel{
            position:relative;
            padding:0.25in;
            overflow:hidden;
            &.hidden{display:none;}
            &.small-contrast{
                background-color:var(--small-contrast-color);
            }
            &.overlay{
                position: absolute;
                &.center{
                    top:50%;left:50%;transform:translate(-50%,-50%);
                }
                &.bottom{
                    bottom:0in;
                }
            }
            &.dock-top{
                left:0;right:0;
                top:0;
            }
            &.dock-left{
                left:0;
                top:0;bottom:0;
            }
            &.dock-right{
                right:0;
                top:0;bottom:0;
            }
            &.dock-bottom{
                left:0;right:0;
                bottom:0;
            }

            .list{
                display:grid;
                grid-template-columns: 1fr auto;
                grid-gap:0.25in;
                place-items:center stretch;
                .list-item{
                    display:contents;
                    label{
                        //grid-area:label;
                        margin:0;
                        font-weight: 400;
                    }
                    .value{
                        //grid-area:value;
                        font-size:1rem;
                        text-align:right;
                    }
                }
            }

            .spec-grid{
                display:grid;
                grid-gap:0.01in;
                grid-template-columns: repeat(2,1fr);

                .spec{
                    margin-bottom:0.5rem;
                    label{
                        margin-bottom:0;

                    }
                }
            }
        }

        
        .page-layout{
            position: absolute;
            top:0.5in;bottom:0.5in;
            left:0;
            width:100%;
            @for $i from 1 through 5{
                
                h#{$i}{
                    position:relative;
                    margin:0in 0;
                    text-align:right;padding:0.05in 0in;
                    &::before{
                       content:"";
                       position:absolute;top:50%;transform:translate(-100%, -50%);
                       width:100%;margin-left:-0.05in;
                       height:0.02in;border-radius:var(--element-border-radius);
                       background-color:var(--highlight);
                    }
                }
                > h#{$i}{
                    padding:0.05in 0.25in;
                }
            }
        }

        

        .grid-layout{
            display:grid;
        }

        .notepad{
            position:relative;
            overflow:hidden;
            .handwrite-zone{
                opacity:0.25;
                position: absolute;
                top:0;left:0;bottom:0;right:0;
                background-image: 
                    -webkit-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
                    -webkit-linear-gradient(var(--text-color) 1px, transparent 0);
                background-image: 
                    -moz-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
                    -moz-linear-gradient(var(--text-color) 1px, transparent 0);
                background-image: 
                    -o-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
                    -o-linear-gradient(var(--text-color) 1px, transparent 0);
                background-image: 
                    -ms-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
                    -ms-linear-gradient(var(--text-color) 1px, transparent 0);
                -webkit-background-size: 100% 2em;
                -moz-background-size: 100% 2em;

                /* In a perfect world... */
                background-image: 
                    linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
                    linear-gradient(var(--text-color) 1px, transparent 0);
                background-size: 100% 2em;
            }
        }
    }
    
    &.listings{
        .ref_number{
            &::before{content:var(--uls-label);}
        }

        page{
            header{
                border-left: 0.5in solid var(--highlight);
                display:grid;
                grid-template-columns:1fr auto;
                place-items:center start;
                .address{
                    text-transform: uppercase;
                }
                .ref_number{font-size:0.6em;}
            }

            footer{
                .more-info{
                    label{display:block;font-weight: 400;margin:0px;padding:0px;opacity:0.8;}
                }
            }

        }
        page{
            &.front-page{
                .page-background{
                    &::after{
                        background-color:var(--highlight);
                        opacity:0.25;
                    }
                }

                .address{
                    padding:0.1in;
                    color:#fff;
                    font-size:3.5rem;
                    font-family:var(--title-font);
                    text-shadow:rgba(#000,0.75) 0.01in 0.01in 0.01in;
                    line-height: 1;
                }

                .information{
                    width:7in;
                    color:var(--text-color);
                    background-color:var(--background-color);
                    text-align:right;
                    grid-template-columns: 2.5in 1fr;
                    grid-template-rows: auto;
                    gap:0 0.25in;
                    box-shadow: rgba(#000,0.5) 0 0 0.25in;
                    .main-picture{
                        grid-column: 1 / span 2;
                        padding-bottom:75%;
                        overflow:hidden;background-color:#fff;
                        position:relative;
                        img{width:100%;min-height:100%;position: absolute;top:0;left:0;object-fit: cover;object-position: center;}
                    }
                    .transaction{text-transform:uppercase;}
                    .address{
                        padding:0.2in;
                        background-color:var(--highlight);
                        color:var(--highlight-text-color);
                    }
                    .city{
                        font-size:1.8em;
                        padding-left:0.2in;
                    }
                    .price{
                        font-size:2.35rem;font-weight: 500;
                        font-family: var(--title-font);
                        padding-left:0.2in;
                    }
                    .ref_number{
                        font-size:0.8em;
                        padding:0 0 0.2in 0.2in;
                    }
                    .transaction{
                        padding:0.2in 0 0 0.2in;
                    }
                    .description{
                        grid-column: 2;
                        grid-row: 2 / span 5;
                        text-align:justify;
                        padding:0.2in;
                        position:relative;
                        &::before{
                            content:"";
                            background-color:var(--highlight);
                            border-radius: var(--element-border-radius);
                            position: absolute;
                            top:0.1in;left:0in;width:0.05in;height:calc(100% - 0.2in);
                        }
                    }
                }
            }

            &.details{
                padding:0;
                .page-background{
                    &::after{
                        background-color:var(--background-color);
                        opacity:0.75;
                    }
                }
                .page-layout{
                    display:grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap:0.25in 0;
                    grid-template-rows: auto auto auto 1fr;
                    place-items:start stretch;
                }
                .panel{
                    padding:0 0.25in;
                    &.icon-ribbon{
                        margin:0.25in;
                        display:flex;
                        flex-direction:row;
                        justify-content: center;
                        grid-column: 1 / span 2;
                        border-radius: var(--element-border-radius);
                        background-color:var(--highlight);
                        color:var(--highlight-text-color);
                        .item{
                            margin:0.05in;padding:0.05in;
                            text-align:center;
                        }
                    }
                    .area{
                        display:grid;
                        grid-template-columns: auto 1fr;
                        place-items: center end;
                        margin-bottom:0.1in;
                        label{text-transform:uppercase;margin:0;}
                        .value{margin-right:0.25in;font-weight: 700;}
                    }
                    
                    

                }
            }

            &.commercial-details{
                padding:0;

                .page-layout{
                    display:grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: auto auto auto 1fr;
                    place-items:start stretch;
                    gap: 0.25in;

                    .panel{
                        padding:0.25in;

                        &.other-specs{
                            grid-row: 1 / span 6;

                            .spec-grid{
                                grid-template-columns: 1fr;
                                gap:0.1in;
                            }
                        }

                        .area{
                            display:grid;
                            grid-template-columns: auto 1fr;
                            place-items: center end;
                            margin-bottom:0.1in;
                            label{text-transform:uppercase;margin:0;}
                            .value{margin-right:0.25in;font-weight: 700;}
                        }
                    }
                    .financial{
                        display:grid;
                        grid-template-columns: 1fr;
                        grid-gap:0.25in;
                        
                    }
                }
            }

            &.details-part2{
                .page-background{
                    &::after{
                        background-color:var(--background-color);
                        opacity:0.75;
                    }
                }

                .panel{
                    
                    &.map{
                        display:grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap:0.25in;
                        place-items:stretch;
                        .static-map{
                            width:4in;
                            height:4in;
                        }

                        .notepad{
                            
                            .handwrite-zone{
                                top:0.5in;
                                right:0in;
                               // width:4in;
                               // height:3.5in;
                            }
                        }
                    }
                }
                .page-layout{
                    display:grid;
                    grid-template-columns: 2fr 1fr;
                    grid-template-areas: "financial inc-exc";
                    place-items:start stretch;
                }
                .in-ex{
                    grid-area: inc-exc;

                }
                .financial{grid-area: financial;}
                .financial{
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-gap:0.25in;
                    
                }
            }
            &.rooms{
                &::after{
                    //content:"";
                    width:0.05in;
                    height:10.25in;
                    top:0.25in;
                    background:red;
                    position: absolute;
                    left:0px;
                }
                .room-list{
                    display:grid;
                    grid-template-columns:1fr;
                    .room-item{
                        display:grid;
                        grid-template-columns: 1fr 1in 1in 1.5in 2.5in;
                        > div{
                            padding:0.1in 0.1in 0.1in 0;
                            &:first-child{
                                padding-left:0.1in;
                            }
                        }
                        &:nth-child(odd){
                            background-color:var(--small-contrast-color);
                            color:var(--small-contrast-text-color);
                        }
                        &.list-header{
                            background-color:transparent;
                            font-style:italic;
                            > div{padding:0;}
                            opacity:0.75;
                            border-bottom: solid 0.01in var(--element-border-color);
                        }
                    }
                }

                .unit{
                    position:relative;
                    .space-taken{
                        position: absolute;
                        top:0px;left:0px;width:0.01in;background-color:red;
                    }
                    .summary-data{
                        display:flex;
                        flex-direction:row;
                        justify-content: center;
                        align-items: center;
                        background:var(--small-contrast-color);
                        color:var(--small-contrast-text-color);
                        border-radius: var(--element-border-radius);
                        .flag{
                            text-align:center;
                            padding:0.1in;
                            &:not(:last-child){
                                border-right:solid 0.01in var(--element-border-color);
                            }
                            em{
                                font-size:1.75rem;font-style:normal;
                            }
                            label{
                                font-weight: 400;
                            }
                        }
                    }
                }
                
            }
            &.photos{
                .photo-list{
                    padding:0.2in;
                    display:grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows:auto;
                    grid-gap: 0.2in;
                    place-items:stretch;
                    .item{
                        background-color:var(--small-contrast-color);
                        .photo{
                            height:1.75in;
                            img{
                                object-fit: cover;
                                width:100%;height:100%;
                            }
                        }
                        label{
                            opacity:0.75;
                            text-align:center;
                            text-transform: uppercase;
                            padding:0.1in;
                            margin-bottom:0px;
                        }
                    }
                }
            }
            &.last-page{
                .brokers{
                    width:4.25in;
                }
                .broker-list{
                    display:grid;
                    grid-template-columns:1fr;
                    
                    grid-gap:0.1in;
                    place-items:stretch;
                    .broker{
                        background-color:var(--background-color);
                        display:grid;
                        grid-template-columns:auto 1fr;
                        grid-template-rows:auto 1fr;
                        place-items:start;
                        overflow: hidden;
                        border-radius:var(--element-border-radius);
                        grid-gap:0.1in;
                        .infos{
                            width:100%;
                            padding:0.1in;
                        }
                        .photo{
                            width:1in;height:1.4in;
                            grid-column:1;
                            
                            img{object-fit: cover;width:100%;height:100%;}
                        }

                        .name{font-family: var(--title-font);font-size:1.25rem;font-weight: 700;}
                        .license{font-size:0.8rem;}
                        .contact{
                            
                            .phone{
                                display:grid;
                                grid-template-columns:auto 1fr;
                                place-items:end start;
                                border-bottom:solid 0.01in var(--element-border-color);
                                span{
                                    font-size:0.8rem;
                                    &::after{
                                        content:" ";
                                    }
                                }
                                em{
                                    font-size:1.15rem;
                                    font-style:normal;
                                    place-self:end;
                                }
                            }
                            
                        }
                    }
                }

                .notepad{
                    width:4.125in;
                    .handwrite-zone{
                        top:1in;
                        right:0.25in;
                    }
                }
            }

            &.annex{
                .page-layout{
                    display:grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto 1fr;
                    grid-gap:0.05in;
                    padding:0.25in;
                    place-items:start stretch;
                    h3{
                        grid-column:1 / span 2;
                    }
                }
                .addendum{
                    white-space: pre;
                }
            }
        }
    }
    
}
