@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,300i,400,400i,600,600i,700,700i');


@media print{
    @page{
        size: 8.5in 11in!important;
        width:8.5in!important;
        height:11in!important;
        margin:0px!important;
    }

    .print-button{display:none;}
}

:root{
    --title-font : 'Montserrat';
    --element-border-radius: 0.1in;
}

html.print{
    // @media print{
    //     *, :after, :before {
    //         background: inherit!important;
    //         color: inherit!important;
    //         box-shadow: inherit!important;
    //         text-shadow: inherit!important;
    //     }
    // }
    
    margin-top:0px !important;padding:0px;
    background:#ccc!important;
    *{box-sizing: border-box;}
    body{
        
        background:#ccc!important;
        margin:0px;padding:0px;
        font-size:0.12in;
        font-family:'Open Sans';
        line-height: 1.35;

        p,label,span,td,li,em{font-family:'Open Sans';}
        h1{font-size:2rem;}
        h2{font-size:1.7rem;}
        h3{font-size: 1.375rem;}
        h4{font-size: 1.25rem;}
        h5{font-size: 1.15rem;}

        .info-panel{
            position:fixed;
            top:0px;
            left:0;
            bottom:0;
            width: 25vw;
            overflow:hidden auto;
        }
        .print-button{
            position:fixed;
            display:block;
            left: calc(50%  + 5in);
            top:1in;
            background-color:transparent;
            color: var(--highlight-text-color);
            width: 1in;height:1in;line-height:1in;
            text-align:center;
            border:none;
            
            i{font-size: 2rem;z-index:2;position:relative;}
            &::before{
                content:"";
                position: absolute;
                width:80%;height:80%;
                top:50%;left:50%;transform:translate(-50%,-50%);
                border-radius:50%;
                background-color:var(--highlight);
            }
            &:hover{
                &::before{
                    width:100%;height:100%;
                    transition:0.25s;
                }
            }
        }
        page{
            display:block;
            margin:20px auto;
            background:#ffffff;
            width:8.5in;
            height:11in;
            padding:0.5in;
            position:relative;
            overflow:hidden;
            &:nth-child(n+2){
                counter-increment: page;
            }
            @media print{
                margin:0px;
            }

            .page-background{
                position: absolute;
                top:50%;left:50%;width:calc(100% + 0.2in);height:calc(100% + 0.2in);
                transform:translate(-50%,-50%);
                &::after{
                    content:"";
                    position: absolute;
                    top:0in;left:0in;width:100%;height:100%;
                }
                img{
                    object-fit: cover;
                    width:100%;height:100%;
                }
            }
            header{
                position: absolute;
                top:0in;left:0in;width:100%;
            }
            footer{
                position: absolute;
                bottom:0in;left:0in;width:100%;
            }
            header, footer{
                z-index:99;
                background:var(--background-color);
                padding:0.1in;height:0.5in;
                .page-counter{
                    position:absolute;
                    right:0px;bottom:0px;
                    width:0.5in;height:0.5in;line-height:0.5in;
                    background-color:var(--highlight);
                    color:var(--highlight-text-color);
                    text-align: center;
                    font-style: normal;
                    font-weight: 700;
                    &::after{
                        content:counter(page);
                    }
                }
                
            }
            note{
                display:block;
                font-style:italic;
                font-weight: 700;
                padding-left:0.05in;
                margin:0.05in 0;
                border-left:solid 0.02in var(--highlight);
            }
        }

        label {
            color: var(--text-color);
            display: block;
            font-weight: 800;
            margin-bottom: 0.5em;
        }

        @for $i from 1 through 5{
            h#{$i}{
                font-family:var(--title-font); 
                font-weight: 400;
            }
        }

        @for $i from 1 through 20{
            .blur-#{$i}{filter:blur(#{$i}px);}
        }
        @for $i from 1 through 20{
            .opacity-#{$i * 5}{opacity: #{($i * 5)/100};}
        }
        

        .panel{
            position:relative;
            overflow:hidden;
            padding:0.25in;
            &.hidden{display:none;}
            &.small-contrast{
                background-color:var(--small-contrast-color);
            }
            &.bordered{
                padding-top:0;
                padding-bottom:0.15in;
                &::after{
                    content:"";
                    position: absolute;
                    top: 0.15in;
                    left: 0.1in;
                    width: calc(100% - 0.2in);
                    bottom: 0;
                    pointer-events: none;
                    border:solid 1px var(--highlight);
                    border-radius: var(--element-border-radius);
                    z-index:2;
                }

                h3{
                    position:relative;
                    z-index:4;
                    display:inline-block;
                    padding: 0 0.15in;
                    left:-0.05in;
                    place-self:start;
                }
                .content{
                    position:relative;
                    padding-top:0.15in;
                    padding-bottom:0;
                    
                }
                
                
            }
            &.overlay{
                position: absolute;
                &.center{
                    top:50%;left:50%;transform:translate(-50%,-50%);
                }
                &.bottom{
                    bottom:0in;
                }
            }
            &.dock-top{
                left:0;right:0;
                top:0;
            }
            &.dock-left{
                left:0;
                top:0;bottom:0;
            }
            &.dock-right{
                right:0;
                top:0;bottom:0;
            }
            &.dock-bottom{
                left:0;right:0;
                bottom:0;
            }

            .list{
                display:grid;
                grid-template-columns: 1fr auto;
                grid-gap:0.1in;
                overflow:hidden;
                .list-item{
                    display:contents;
                    label{
                        //grid-area:label;
                        position:relative;
                        margin:0;
                        font-weight: 400;
                        place-self:center start;
                        &::after{
                            content:'';
                            position: absolute;
                            width:3in;
                            height:0;
                            border-top:dashed 1px var(--text-color);
                            right:-0.1in;
                            top:50%;
                            transform:translate(100%,0);
                            z-index:2;
                            opacity:0.2;
                        }
                    }
                    .value{
                        //grid-area:value;
                        font-size:1rem;
                        text-align:right;
                        place-self:start end;
                        position:relative;
                        z-index:5;
                        span{
                            padding-left:0.1in;
                            background:var(--background-color);
                        }
                    }
                }
            }

            .spec-grid{
                display:grid;
                grid-gap:0.01in;
                grid-template-columns: repeat(2,1fr);

                .spec{
                    margin-bottom:0.5rem;
                    label{
                        margin-bottom:0;
                    }
                }

                &.list-layout{
                    grid-template-columns: auto 1fr;
                    grid-gap:0.1in 0in;
                    overflow:hidden;
                    .icon-grid{
                        grid-column: 1 / span 2;  
                    }
                    h4{
                        grid-column: 1 / span 2;
                        margin-top:0.1in;
                        &:first-child{
                            margin-top:0;
                        }
                    }
                    .spec{
                        display:contents;
                        label{
                            position:relative;
                            place-self:start;
                            &::after{
                                content:'';
                                position: absolute;
                                width:3in;
                                height:0;
                                border-top:dashed 1px var(--text-color);
                                right:-0.1in;
                                top:50%;
                                transform:translate(100%,0);
                                z-index:2;
                                opacity:0.2;
                            }
                        }
                        > div{
                            text-align:right;
                            place-self:start end;
                            position:relative;
                            
                            z-index:5;
                            span{
                                padding-left:0.1in;
                                background:var(--background-color);
                            }
                        }
                    }
                }
            }

            
            
        }
        .icon-grid{
            display:grid;
            grid-template-columns: repeat(5, 1fr);
            gap:0.05in;
            .item{
                position:relative;
                text-align:center;
                display:grid;
                grid-template-rows: 1fr auto 1rem;
                place-items:center;
                i{
                    height:2rem;
                }
                label{
                    font-weight: 400;
                    margin-top:0.1in;
                    align-self:start;
                    opacity:0.75;
                    font-size:0.7rem;
                    grid-row:1;
                }

                sup.badge{
                    display:block;
                    font-style: normal;
                    
                    font-size:1rem;
                    font-weight: 700;
                }
            }
        }

        @for $i from 0 through 24{
            .panel.padding-#{i}, 
            .padding-#{$i}{padding: #{$i * .05}in;}
        }
        
        .page-layout{
            position: absolute;
            top:0.5in;bottom:0.5in;
            left:0;
            width:100%;
            @for $i from 1 through 5{
                
                h#{$i}{
                    position:relative;
                    margin:0in 0;
                    text-align:left;padding:0.05in 0in;
                    background: #fff;
                }
                > h#{$i}{
                    padding:0.05in 0.25in;
                }
            }
        }

        

        .grid-layout{
            display:grid;
        }
        

        .notepad{
            position:relative;
            overflow:hidden;
            .handwrite-zone{
                opacity:0.25;
                position: absolute;
                top:0;left:0;bottom:0;right:0;
                background-image: 
                    -webkit-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
                    -webkit-linear-gradient(var(--text-color) 1px, transparent 0);
                background-image: 
                    -moz-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
                    -moz-linear-gradient(var(--text-color) 1px, transparent 0);
                background-image: 
                    -o-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
                    -o-linear-gradient(var(--text-color) 1px, transparent 0);
                background-image: 
                    -ms-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
                    -ms-linear-gradient(var(--text-color) 1px, transparent 0);
                -webkit-background-size: 100% 2em;
                -moz-background-size: 100% 2em;

                /* In a perfect world... */
                background-image: 
                    linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
                    linear-gradient(var(--text-color) 1px, transparent 0);
                background-size: 100% 2em;
            }
        }

        .si-site-logo{
            height:100px;
            img{
                width:100%;
                height:100%;
                object-fit: contain;
                object-position: center;
            }
        }

        div.separator{
            height:1px;
            background:var(--text-color);
            opacity:0.25;
            width:80%;
            display: block;
            margin:0.1in auto;
        }
    }
    
    &.listings{
        .ref_number{
            &::before{content:var(--uls-label);}
        }

        page{
            header{
                border-left: 0.5in solid var(--highlight);
                display:grid;
                grid-template-columns:1fr auto;
                place-items:center start;
                .address{
                    text-transform: uppercase;
                }
                .ref_number{font-size:0.6em;}
            }

            footer{
                .more-info{
                    label{display:block;font-weight: 400;margin:0px;padding:0px;opacity:0.8;}
                }
            }

        }
        page{
            &.front-page{
                .page-background{
                    height:9in;
                    left:0;
                    top:1in;
                    transform:unset;
                    
                    &::after{
                        background-color:var(--highlight);
                        opacity:0.25;
                        mix-blend-mode: multiply;
                    }
                }
                .panel{overflow:visible;}

                .address-civic{
                    position: absolute;
                    bottom:1.75in;
                    left:0.1in;
                    font-size: 1in;
                    text-transform: uppercase;
                    line-height: 0.8em;
                    letter-spacing: -0.1in;
                    width:30%;
                    font-weight: 700;
                    color:#fff;
                    mix-blend-mode: soft-light;
                    opacity: 1;
                    text-shadow: 0 0 0.1in #000;
                }

                .icon-ribbon{
                    .icon-grid{
                        grid-template-columns: unset;
                        grid-auto-columns: 1fr;  
                        grid-auto-flow: column;
                        //--text-color:#fff;
                        
                       
                        // sup.badge{
                        //     position: absolute;
                        //     top:0;
                        //     left:50%;
                        //     font-size:1rem;
                        //     width:1.5em;
                        //     height:1.5em;
                        //     line-height: 1.5em;
                        //     text-align:center;
                        //     background:var(--text-color);
                        //     color:var(--background-color);
                        //     border-radius:50%;
                        //     transform: translate(100%,-50%);
                        // }
                    }
                }
                .description{
                    background: var(--background-color);
                    position: absolute;
                    bottom: 2.75in;
                    right:0;
                    width:60%;
                    
                    text-align:justify;
                    padding:0.2in;
                    padding-right:0.4in;
                    z-index:5;
                    &::before{
                        content:"";
                        background-color:var(--highlight);
                        border-radius: var(--element-border-radius);
                        position: absolute;
                        bottom:0.1in;right:0in;
                        width:0.05in;    
                        height: 125%;
                    }

                }
                .broker-infos{
                    color:var(--text-color);
                    background-color:var(--background-color);
                    display:grid;
                    grid-template-columns: 1fr auto;
                    place-items: center start;
                    gap: 1rem;
                    height: 1.5in;

                    .logo{
                        place-self: stretch;
                        //max-height:100%;
                    }
                    .broker-list{
                        display:grid;
                        grid-auto-flow: column;
                        grid-auto-columns: auto;

                        grid-gap:0.1in;
                        place-items:stretch;
                        .broker{
                            background-color:var(--background-color);
                            display:grid;
                            grid-template-columns:auto 1fr;
                            grid-template-rows:auto 1fr;
                            place-items:start;
                            overflow: hidden;
                            border-radius:var(--element-border-radius);
                            grid-gap:0.1in;
                            .infos{
                                width:100%;
                                padding:0;
                            }
                            .photo{
                                display:none;
                                width:1in;height:1.4in;
                                grid-column:1;
                                
                                img{object-fit: cover;width:100%;height:100%;}
                            }
    
                            .name{font-family: var(--title-font);font-size:0.85rem;font-weight: 700;text-transform: uppercase;}
                            .license{font-size:0.7rem;}
                            .contact{
                                
                                .phone{
                                    display:grid;
                                    grid-template-columns:auto 1fr;
                                    place-items:end start;
                                    border-bottom:solid 0.01in var(--element-border-color);
                                    span{
                                        font-size:0.7rem;
                                        padding-right:0.5em;
                                    }
                                    em{
                                        font-size:0.75rem;
                                        font-style:normal;
                                        place-self:end;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .information{
                    z-index:10;
                    color:var(--text-color);
                    background-color:var(--background-color);
                    //text-align:right;
                    grid-template-columns: 1fr 2fr;
                    grid-template-rows: auto;
                    grid-template-areas: 
                        "transaction price" 
                        "ref_number price";
                    gap:0 0.25in;
                    box-shadow: rgba(#000,0.5) 0 0 0.25in;
                    padding-bottom:0.75in;
                    min-height: 1in;
                    .transaction{text-transform:uppercase;}
                    .address{
                        font-size:1.85rem;
                        grid-column: span 2;
                        padding:0.2in 0.5in;
                        text-transform: uppercase;
                        background-color:var(--highlight);
                        color:var(--highlight-text-color);
                        transform:translate(-50%,50%);
                        position: absolute;
                        display:grid;
                        place-items:center;
                        gap:0.1in;
                        bottom:0;
                        left:50%;
                        white-space: nowrap;
                    }
                    .district{
                        font-size:0.5em;
                        font-weight: 700;
                    }
                    .city{
                        font-size:0.6em;
                        position:relative;
                        padding-top:1rem;
                        &::before{
                            content:"";
                            position: absolute;
                            top:0px;
                            height:1pt;
                            width: 0.5in;
                            left:50%;
                            transform:translateX(-50%);
                            background:var(--highlight-text-color);
                        }
                    }
                    .price{
                        grid-area: price;
                        font-size:2rem;font-weight: 500;
                        font-family: var(--title-font);
                        padding-left:0.2in;
                        place-self: center end;
                    }
                    .ref_number{
                        grid-area: ref_number;
                        font-size:0.8em;
                        //padding:0 0 0.2in 0.2in;
                    }
                    .transaction{
                        grid-area: transaction;
                        //padding:0.2in 0 0 0.2in;
                    }
                    
                }
            }

            &.details{
                //padding:0;
                .page-background{
                    &::after{
                        background-color:var(--background-color);
                        opacity:0.75;
                    }
                }
                .page-layout{
                    display:grid;
                    grid-template-columns: 1fr 1fr;
                    
                    grid-template-rows: auto 1fr auto;
                    place-items: stretch;
                    grid-gap:0.25in 0;
                    padding:0.1in;
                    padding-bottom:0.2in;
                }
                .panel{
                    //padding:0 0.25in;

                    &.addendum{
                        grid-column-start:1;
                        grid-column-end:max;
                        //place-self: stretch;
                        .content{
                            display:grid;
                            grid-auto-flow: column;
                            grid-auto-columns: 1fr;
                            gap:0.25in;
                        }
                    }

                    &.characteristics{

                    }

                    &.proximity{
                        grid-column-start:1;
                        grid-column-end:max;
                    }

                    &.other-specs{
                        //grid-row:1;
                    }
                    &.building-specs{
                        //grid-row:2;
                    }
                    &.land-specs{
                        //grid-row:3;
                    }

                    &.icon-ribbon{
                        margin:0.25in;
                        display:flex;
                        flex-direction:row;
                        justify-content: center;
                        grid-column: 1 / span 2;
                        border-radius: var(--element-border-radius);
                        background-color:var(--highlight);
                        --text-color:var(--highlight-text-color);
                        color: var(--text-color);
                        .item{
                            margin:0.05in;padding:0.05in;
                            text-align:center;
                        }
                    }
                    
                    
                    

                }
            }

            &.commercial-details{
                padding:0;

                .page-layout{
                    display:grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: auto auto auto 1fr;
                    place-items:start stretch;
                    gap: 0.25in;

                    .panel{
                        padding:0.25in;

                        &.other-specs{
                            grid-row: 1 / span 6;

                            .spec-grid{
                                grid-template-columns: 1fr;
                                gap:0.1in;
                            }
                        }

                        .area{
                            display:grid;
                            grid-template-columns: auto 1fr;
                            place-items: center end;
                            margin-bottom:0.1in;
                            label{text-transform:uppercase;margin:0;}
                            .value{margin-right:0.25in;font-weight: 700;}
                        }
                    }
                    .financial{
                        display:grid;
                        grid-template-columns: 1fr;
                        grid-gap:0.25in;
                        
                    }
                }
            }

            &.details-part2{
                .page-background{
                    &::after{
                        background-color:var(--background-color);
                        opacity:0.75;
                    }
                }

                .panel{
                    .area{
                        display:grid;
                        grid-template-columns: auto 1fr;
                        place-items: center end;
                        grid-column: 1 / span 2;
                        margin-bottom:0.1in;
                        label{text-transform:uppercase;margin:0;}
                        .value{font-weight: 700;}
                    }

                    &.map{
                        display:grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        gap:0.25in;
                        place-items:stretch;
                        .static-map{
                            width:4in;
                            height:4in;
                        }

                        .notepad{
                            
                            .handwrite-zone{
                                top:0.5in;
                                right:0in;
                               // width:4in;
                               // height:3.5in;
                            }
                        }
                    }
                }
                .page-layout{
                    display:grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto 1fr auto;
                    grid-gap:0.25in 0;
                    padding:0.1in;
                    padding-bottom:0.2in;
                    place-items:stretch;
                }
                
                .financial{
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-gap:0.25in;
                    grid-row: 2 / span 2;
                    grid-column: 2;
                }
            }
            &.rooms{
                &::after{
                    //content:"";
                    width:0.05in;
                    height:10.25in;
                    top:0.25in;
                    background:red;
                    position: absolute;
                    left:0px;
                }
                .room-list{
                    display:grid;
                    grid-template-columns:1fr;
                    .room-item{
                        display:grid;
                        grid-template-columns: 1fr 1in 1in 1.5in 2.5in;
                        > div{
                            padding:0.1in 0.1in 0.1in 0;
                            &:first-child{
                                padding-left:0.1in;
                            }
                        }
                        &:nth-child(odd){
                            background-color:var(--small-contrast-color);
                            color:var(--small-contrast-text-color);
                        }
                        &.list-header{
                            background-color:transparent;
                            font-style:italic;
                            > div{padding:0;}
                            opacity:0.75;
                            border-bottom: solid 0.01in var(--element-border-color);
                        }
                    }
                }

                .unit{
                    position:relative;
                    .space-taken{
                        position: absolute;
                        top:0px;left:0px;width:0.01in;background-color:red;
                    }
                    .summary-data{
                        display:flex;
                        flex-direction:row;
                        justify-content: center;
                        align-items: center;
                        background:var(--small-contrast-color);
                        color:var(--small-contrast-text-color);
                        border-radius: var(--element-border-radius);
                        .flag{
                            text-align:center;
                            padding:0.1in;
                            &:not(:last-child){
                                border-right:solid 0.01in var(--element-border-color);
                            }
                            em{
                                font-size:1.75rem;font-style:normal;
                            }
                            label{
                                font-weight: 400;
                            }
                        }
                    }
                }
                
            }
            &.photos{
                .photo-list{
                    padding:0.2in;
                    display:grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows:auto;
                    grid-gap: 0.2in;
                    place-items:stretch;
                    .item{
                        background-color:var(--small-contrast-color);
                        .photo{
                            height:1.75in;
                            img{
                                object-fit: cover;
                                width:100%;height:100%;
                            }
                        }
                        label{
                            opacity:0.75;
                            text-align:center;
                            text-transform: uppercase;
                            padding:0.1in;
                            margin-bottom:0px;
                        }
                    }
                }
            }
            &.last-page{
                .dock-left{
                    width:4.25in;
                    display:grid;
                    grid-template-rows: 1fr auto auto;
                    gap:0.25in;
                }

                .brokers{
                    .broker-list{
                        display:grid;
                        grid-template-columns:1fr;
                        
                        grid-gap:0.1in;
                        place-items:stretch;
                        .broker{
                            background-color:var(--background-color);
                            display:grid;
                            grid-template-columns:auto 1fr;
                            grid-template-rows:auto 1fr;
                            place-items:start;
                            overflow: hidden;
                            border-radius:var(--element-border-radius);
                            grid-gap:0.1in;
                            .infos{
                                width:100%;
                                padding:0.1in;
                            }
                            .photo{
                                width:1in;height:1.4in;
                                grid-column:1;
                                
                                img{object-fit: cover;width:100%;height:100%;}
                            }

                            .name{font-family: var(--title-font);font-size:1.25rem;font-weight: 700;}
                            .license{font-size:0.8rem;}
                            .contact{
                                
                                .phone{
                                    display:grid;
                                    grid-template-columns:auto 1fr;
                                    place-items:end start;
                                    border-bottom:solid 0.01in var(--element-border-color);
                                    span{
                                        font-size:0.8rem;
                                        &::after{
                                            content:" ";
                                        }
                                    }
                                    em{
                                        font-size:1.15rem;
                                        font-style:normal;
                                        place-self:end;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .notepad{
                    width:4.125in;
                    .handwrite-zone{
                        top:1in;
                        right:0.25in;
                        bottom: 4.25in;
                    }

                    .static-map{
                        position: absolute;
                        bottom:0.25in;
                        right:0.25in;
                    }
                }

                .static-map{
                    width:4in;
                    height:4in;
                }
                .logo{
                    
                }
                .recap{
                    
                    .price{
                        font-size:2rem;
                        position:relative;
                        &::before{
                            content:"";
                            position: absolute;
                            background:var(--highlight);
                            top: 50%;
                            left: 0;
                            height: 120%;
                            width: 1in;
                            transform: translate(-1.15in,-50%);
                        }
                    }
                    .transaction{font-size:1rem;text-transform: uppercase;}
                    .address{
                        padding:0.05in 0;
                        .civic{
                            font-size: 1.25rem;
                        }
                        .city{
                            opacity:0.75;
                        }
                    }
                }
            }

            &.annex{
                .page-layout{
                    display:grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto 1fr;
                    grid-gap:0.05in;
                    padding:0.25in;
                    place-items:start stretch;
                    h3{
                        grid-column:1 / span 2;
                    }
                }
                .addendum{
                    white-space: pre;
                }
            }
        }
    }
    
}
