@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,300i,400,400i,600,600i,700,700i");
@media print {
  @page {
    size: 8.5in 11in !important;
    width: 8.5in !important;
    height: 11in !important;
    margin: 0px !important;
  }
  .print-button {
    display: none;
  }
}
:root {
  --si-title-font: "Montserrat";
  --si-border-radius: 0.1in;
}

html.print {
  margin-top: 0px !important;
  padding: 0px;
  background: #ccc !important;
}
html.print * {
  box-sizing: border-box;
}
html.print body {
  background: #ccc !important;
  --si-background-color: #fff!important;
  --si-text-color: #333!important;
  margin: 0px;
  padding: 0px;
  font-size: 0.12in;
  font-family: "Open Sans";
  line-height: 1.35;
}
html.print body p, html.print body label, html.print body span, html.print body td, html.print body li, html.print body em {
  font-family: "Open Sans";
}
html.print body h1 {
  font-size: 2rem;
}
html.print body h2 {
  font-size: 1.7rem;
}
html.print body h3 {
  font-size: 1.375rem;
}
html.print body h4 {
  font-size: 1.25rem;
}
html.print body h5 {
  font-size: 1.15rem;
}
html.print body .info-panel {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 25vw;
  overflow: hidden auto;
}
html.print body .print-button {
  position: fixed;
  display: block;
  left: calc(50% + 5in);
  top: 1in;
  background-color: transparent !important;
  color: var(--si-highlight-text-color);
  width: 1in;
  height: 1in;
  line-height: 1in;
  text-align: center;
  border: none;
}
html.print body .print-button i {
  font-size: 2rem;
  z-index: 2;
  position: relative;
}
html.print body .print-button::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--si-highlight) !important;
}
html.print body .print-button:hover::before {
  width: 100%;
  height: 100%;
  transition: 0.25s;
}
html.print body page {
  display: block;
  margin: 20px auto;
  background: var(--si-background-color) !important;
  width: 8.5in;
  height: 11in;
  padding: 0.5in;
  position: relative;
  overflow: hidden;
}
html.print body page:nth-child(n+2) {
  counter-increment: page;
}
@media print {
  html.print body page {
    margin: 0px;
  }
}
html.print body page .page-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 0.2in);
  height: calc(100% + 0.2in);
  transform: translate(-50%, -50%);
}
html.print body page .page-background::after {
  content: "";
  position: absolute;
  top: 0in;
  left: 0in;
  width: 100%;
  height: 100%;
}
html.print body page .page-background img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
html.print body page header {
  position: absolute;
  top: 0in;
  left: 0in;
  width: 100%;
}
html.print body page footer {
  position: absolute;
  bottom: 0in;
  left: 0in;
  width: 100%;
}
html.print body page header, html.print body page footer {
  z-index: 99;
  background: var(--si-background-color) !important;
  padding: 0.1in;
  height: 0.5in;
}
html.print body page header .page-counter, html.print body page footer .page-counter {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 0.5in;
  height: 0.5in;
  line-height: 0.5in;
  background-color: var(--si-highlight) !important;
  color: var(--si-highlight-text-color);
  text-align: center;
  font-style: normal;
  font-weight: 700;
}
html.print body page header .page-counter::after, html.print body page footer .page-counter::after {
  content: counter(page);
}
html.print body page header a::after, html.print body page footer a::after {
  display: none;
}
html.print body page note {
  display: block;
  font-style: italic;
  font-weight: 700;
  padding-left: 0.05in;
  margin: 0.05in 0;
  border-left: solid 0.02in var(--si-highlight);
}
html.print body label {
  color: var(--si-text-color);
  display: block;
  font-weight: 800;
  margin-bottom: 0.5em;
}
html.print body h1 {
  font-family: var(--si-title-font);
  font-weight: 400;
}
html.print body h2 {
  font-family: var(--si-title-font);
  font-weight: 400;
}
html.print body h3 {
  font-family: var(--si-title-font);
  font-weight: 400;
}
html.print body h4 {
  font-family: var(--si-title-font);
  font-weight: 400;
}
html.print body h5 {
  font-family: var(--si-title-font);
  font-weight: 400;
}
html.print body .blur-1 {
  filter: blur(1px);
}
html.print body .blur-2 {
  filter: blur(2px);
}
html.print body .blur-3 {
  filter: blur(3px);
}
html.print body .blur-4 {
  filter: blur(4px);
}
html.print body .blur-5 {
  filter: blur(5px);
}
html.print body .blur-6 {
  filter: blur(6px);
}
html.print body .blur-7 {
  filter: blur(7px);
}
html.print body .blur-8 {
  filter: blur(8px);
}
html.print body .blur-9 {
  filter: blur(9px);
}
html.print body .blur-10 {
  filter: blur(10px);
}
html.print body .blur-11 {
  filter: blur(11px);
}
html.print body .blur-12 {
  filter: blur(12px);
}
html.print body .blur-13 {
  filter: blur(13px);
}
html.print body .blur-14 {
  filter: blur(14px);
}
html.print body .blur-15 {
  filter: blur(15px);
}
html.print body .blur-16 {
  filter: blur(16px);
}
html.print body .blur-17 {
  filter: blur(17px);
}
html.print body .blur-18 {
  filter: blur(18px);
}
html.print body .blur-19 {
  filter: blur(19px);
}
html.print body .blur-20 {
  filter: blur(20px);
}
html.print body .opacity-5 {
  opacity: 0.05;
}
html.print body .opacity-10 {
  opacity: 0.1;
}
html.print body .opacity-15 {
  opacity: 0.15;
}
html.print body .opacity-20 {
  opacity: 0.2;
}
html.print body .opacity-25 {
  opacity: 0.25;
}
html.print body .opacity-30 {
  opacity: 0.3;
}
html.print body .opacity-35 {
  opacity: 0.35;
}
html.print body .opacity-40 {
  opacity: 0.4;
}
html.print body .opacity-45 {
  opacity: 0.45;
}
html.print body .opacity-50 {
  opacity: 0.5;
}
html.print body .opacity-55 {
  opacity: 0.55;
}
html.print body .opacity-60 {
  opacity: 0.6;
}
html.print body .opacity-65 {
  opacity: 0.65;
}
html.print body .opacity-70 {
  opacity: 0.7;
}
html.print body .opacity-75 {
  opacity: 0.75;
}
html.print body .opacity-80 {
  opacity: 0.8;
}
html.print body .opacity-85 {
  opacity: 0.85;
}
html.print body .opacity-90 {
  opacity: 0.9;
}
html.print body .opacity-95 {
  opacity: 0.95;
}
html.print body .opacity-100 {
  opacity: 1;
}
html.print body .si-truncated-text {
  position: relative;
  --lh: 1.5em;
  --max-lines: 12;
  line-height: var(--lh);
  max-height: calc(var(--max-lines) * var(--lh) - 1px);
  overflow: hidden;
}
html.print body .si-truncated-text::before {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--si-background-color) !important;
  width: 2em;
  text-align: center;
}
html.print body .si-truncated-text::after {
  content: "";
  position: absolute;
  right: 0; /* note: not using bottom */
  width: 1rem;
  height: 1rem;
  background: var(--si-background-color) !important;
}
html.print body .panel {
  position: relative;
  overflow: hidden;
  padding: 0.25in;
}
html.print body .panel.hidden {
  display: none;
}
html.print body .panel.small-contrast {
  background-color: var(--si-small-contrast-color) !important;
}
html.print body .panel.bordered {
  padding-top: 0;
  padding-bottom: 0.15in;
}
html.print body .panel.bordered::after {
  content: "";
  position: absolute;
  top: 0.15in;
  left: 0.1in;
  width: calc(100% - 0.2in);
  bottom: 0;
  pointer-events: none;
  border: solid 1px var(--si-highlight);
  border-radius: var(--si-border-radius, 0);
  z-index: 2;
}
html.print body .panel.bordered h3 {
  position: relative;
  z-index: 4;
  display: inline-block;
  padding: 0 0.15in;
  left: -0.05in;
  place-self: start;
  background-color: var(--si-background-color) !important;
}
html.print body .panel.bordered .content {
  position: relative;
  padding-top: 0.15in;
  padding-bottom: 0;
}
html.print body .panel.overlay {
  position: absolute;
}
html.print body .panel.overlay.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html.print body .panel.overlay.bottom {
  bottom: 0in;
}
html.print body .panel.dock-top {
  left: 0;
  right: 0;
  top: 0;
}
html.print body .panel.dock-left {
  left: 0;
  top: 0;
  bottom: 0;
}
html.print body .panel.dock-right {
  right: 0;
  top: 0;
  bottom: 0;
}
html.print body .panel.dock-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}
html.print body .panel .list {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.1in;
  overflow: hidden;
}
html.print body .panel .list .list-item {
  display: contents;
}
html.print body .panel .list .list-item label {
  position: relative;
  margin: 0;
  font-weight: 400;
  place-self: center start;
}
html.print body .panel .list .list-item label::after {
  content: "";
  position: absolute;
  width: 3in;
  height: 0;
  border-top: dashed 1px var(--si-text-color);
  right: -0.1in;
  top: 50%;
  transform: translate(100%, 0);
  z-index: 2;
  opacity: 0.2;
}
html.print body .panel .list .list-item .value {
  font-size: 1rem;
  text-align: right;
  place-self: start end;
  position: relative;
  z-index: 5;
}
html.print body .panel .list .list-item .value span {
  padding-left: 0.1in;
  background: var(--si-background-color) !important;
}
html.print body .panel .spec-grid {
  display: grid;
  grid-gap: 0.01in;
  grid-template-columns: repeat(2, 1fr);
}
html.print body .panel .spec-grid .spec {
  margin-bottom: 0.5rem;
}
html.print body .panel .spec-grid .spec label {
  margin-bottom: 0;
}
html.print body .panel .spec-grid.list-layout {
  grid-template-columns: auto 1fr;
  grid-gap: 0.1in 0in;
  overflow: hidden;
}
html.print body .panel .spec-grid.list-layout .icon-grid {
  grid-column: 1/span 2;
}
html.print body .panel .spec-grid.list-layout h4 {
  grid-column: 1/span 2;
  margin-top: 0.1in;
}
html.print body .panel .spec-grid.list-layout h4:first-child {
  margin-top: 0;
}
html.print body .panel .spec-grid.list-layout .spec {
  display: contents;
}
html.print body .panel .spec-grid.list-layout .spec label {
  position: relative;
  place-self: start;
}
html.print body .panel .spec-grid.list-layout .spec label::after {
  content: "";
  position: absolute;
  width: 3in;
  height: 0;
  border-top: dashed 1px var(--si-text-color);
  right: -0.1in;
  top: 50%;
  transform: translate(100%, 0);
  z-index: 2;
  opacity: 0.2;
}
html.print body .panel .spec-grid.list-layout .spec > div {
  text-align: right;
  place-self: start end;
  position: relative;
  z-index: 5;
}
html.print body .panel .spec-grid.list-layout .spec > div span {
  padding-left: 0.1in;
  background: var(--si-background-color) !important;
}
html.print body .icon-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.05in;
}
html.print body .icon-grid .item {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 1rem;
  place-items: center;
}
html.print body .icon-grid .item i {
  height: 2rem;
}
html.print body .icon-grid .item label {
  font-weight: 400;
  margin-top: 0.1in;
  align-self: start;
  opacity: 0.75;
  font-size: 0.7rem;
  grid-row: 1;
}
html.print body .icon-grid .item sup.badge {
  display: block;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
}
html.print body .panel.padding-i,
html.print body .padding-0 {
  padding: 0in;
}
html.print body .panel.padding-i,
html.print body .padding-1 {
  padding: 0.05in;
}
html.print body .panel.padding-i,
html.print body .padding-2 {
  padding: 0.1in;
}
html.print body .panel.padding-i,
html.print body .padding-3 {
  padding: 0.15in;
}
html.print body .panel.padding-i,
html.print body .padding-4 {
  padding: 0.2in;
}
html.print body .panel.padding-i,
html.print body .padding-5 {
  padding: 0.25in;
}
html.print body .panel.padding-i,
html.print body .padding-6 {
  padding: 0.3in;
}
html.print body .panel.padding-i,
html.print body .padding-7 {
  padding: 0.35in;
}
html.print body .panel.padding-i,
html.print body .padding-8 {
  padding: 0.4in;
}
html.print body .panel.padding-i,
html.print body .padding-9 {
  padding: 0.45in;
}
html.print body .panel.padding-i,
html.print body .padding-10 {
  padding: 0.5in;
}
html.print body .panel.padding-i,
html.print body .padding-11 {
  padding: 0.55in;
}
html.print body .panel.padding-i,
html.print body .padding-12 {
  padding: 0.6in;
}
html.print body .panel.padding-i,
html.print body .padding-13 {
  padding: 0.65in;
}
html.print body .panel.padding-i,
html.print body .padding-14 {
  padding: 0.7in;
}
html.print body .panel.padding-i,
html.print body .padding-15 {
  padding: 0.75in;
}
html.print body .panel.padding-i,
html.print body .padding-16 {
  padding: 0.8in;
}
html.print body .panel.padding-i,
html.print body .padding-17 {
  padding: 0.85in;
}
html.print body .panel.padding-i,
html.print body .padding-18 {
  padding: 0.9in;
}
html.print body .panel.padding-i,
html.print body .padding-19 {
  padding: 0.95in;
}
html.print body .panel.padding-i,
html.print body .padding-20 {
  padding: 1in;
}
html.print body .panel.padding-i,
html.print body .padding-21 {
  padding: 1.05in;
}
html.print body .panel.padding-i,
html.print body .padding-22 {
  padding: 1.1in;
}
html.print body .panel.padding-i,
html.print body .padding-23 {
  padding: 1.15in;
}
html.print body .panel.padding-i,
html.print body .padding-24 {
  padding: 1.2in;
}
html.print body .page-layout {
  position: absolute;
  top: 0.5in;
  bottom: 0.5in;
  left: 0;
  width: 100%;
}
html.print body .page-layout h1 {
  position: relative;
  margin: 0in 0;
  text-align: left;
  padding: 0.05in 0in;
  background: #fff;
}
html.print body .page-layout > h1 {
  padding: 0.05in 0.25in;
}
html.print body .page-layout h2 {
  position: relative;
  margin: 0in 0;
  text-align: left;
  padding: 0.05in 0in;
  background: #fff;
}
html.print body .page-layout > h2 {
  padding: 0.05in 0.25in;
}
html.print body .page-layout h3 {
  position: relative;
  margin: 0in 0;
  text-align: left;
  padding: 0.05in 0in;
  background: #fff;
}
html.print body .page-layout > h3 {
  padding: 0.05in 0.25in;
}
html.print body .page-layout h4 {
  position: relative;
  margin: 0in 0;
  text-align: left;
  padding: 0.05in 0in;
  background: #fff;
}
html.print body .page-layout > h4 {
  padding: 0.05in 0.25in;
}
html.print body .page-layout h5 {
  position: relative;
  margin: 0in 0;
  text-align: left;
  padding: 0.05in 0in;
  background: #fff;
}
html.print body .page-layout > h5 {
  padding: 0.05in 0.25in;
}
html.print body .grid-layout {
  display: grid;
}
html.print body .notepad {
  position: relative;
  overflow: hidden;
  grid-template-rows: auto;
}
html.print body .notepad .handwrite-zone {
  opacity: 0.25;
  background-image: -ms-linear-gradient(0deg, transparent 5em, rgba(255, 0, 0, 0.2) 0, transparent 5.1em), -ms-linear-gradient(var(--si-text-color) 1px, transparent 0) !important;
  -webkit-background-size: 100% 2em !important;
  -moz-background-size: 100% 2em !important;
  /* In a perfect world... */
  background-image: linear-gradient(0deg, transparent 5em, rgba(255, 0, 0, 0.2) 0, transparent 5.1em), linear-gradient(var(--si-text-color) 1px, transparent 0) !important;
  background-size: 100% 2em !important;
}
html.print body .si-site-logo {
  height: 1in;
  width: 2in;
}
html.print body .si-site-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
html.print body div.separator {
  height: 1px;
  background: var(--si-text-color);
  opacity: 0.25;
  width: 80%;
  display: block;
  margin: 0.1in auto;
}
html.print.listings .ref_number::before {
  content: var(--si-uls-label);
}
html.print.listings page header {
  border-left: 0.5in solid var(--si-highlight);
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center start;
}
html.print.listings page header .address {
  text-transform: uppercase;
}
html.print.listings page header .ref_number {
  font-size: 0.6em;
}
html.print.listings page footer .more-info label {
  display: block;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  opacity: 0.8;
}
html.print.listings page.front-page .page-background {
  height: 5.8in;
  left: -0.1in;
  top: 1in;
  transform: unset;
}
html.print.listings page.front-page .page-background::after {
  background-color: var(--si-highlight) !important;
  opacity: 0.25;
  mix-blend-mode: multiply;
}
html.print.listings page.front-page .logo {
  position: absolute;
  top: 6.8in;
  left: 0.1in;
  padding: 0.1in;
}
html.print.listings page.front-page .panel {
  overflow: visible;
}
html.print.listings page.front-page .address-civic {
  position: absolute;
  top: 1.5in;
  left: 0.1in;
  font-size: 1in;
  text-transform: uppercase;
  line-height: 0.8em;
  letter-spacing: -0.1in;
  width: 30%;
  font-weight: 700;
  color: #fff;
  mix-blend-mode: soft-light;
  opacity: 0.5;
  text-shadow: 0 0 0.1in #000;
}
html.print.listings page.front-page .icon-ribbon .icon-grid {
  grid-template-columns: unset;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
html.print.listings page.front-page .description {
  background: var(--si-background-color) !important;
  position: absolute;
  bottom: 2.75in;
  right: 0;
  width: 60%;
  text-align: justify;
  padding: 0.2in;
  padding-right: 0.4in;
  z-index: 5;
}
html.print.listings page.front-page .description::before {
  content: "";
  background-color: var(--si-highlight) !important;
  border-radius: var(--si-border-radius);
  position: absolute;
  bottom: 0.1in;
  right: 0in;
  width: 0.05in;
  height: 125%;
}
html.print.listings page.front-page .broker-infos {
  color: var(--si-text-color) !important;
  background-color: var(--si-background-color) !important;
  display: grid;
  grid-template-columns: 1fr;
  place-items: end stretch;
  gap: 1rem;
}
html.print.listings page.front-page .broker-infos .broker-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: auto;
  gap: 0.1in;
  place-items: stretch;
}
html.print.listings page.front-page .broker-infos .broker-list .broker {
  background-color: var(--si-small-contrast-color) !important;
  --text-color: var(--si-small-contrast-text-color);
  border-radius: var(--si-border-radius);
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  place-items: start;
  overflow: hidden;
  gap: 0.1in;
  padding: 0.1in;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .infos {
  width: 100%;
  padding: 0;
  display: grid;
  gap: 0.1in;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .photo {
  width: 0.6in;
  height: 0.8in;
  grid-column: 1;
  border-radius: var(--si-border-radius);
  overflow: hidden;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .name {
  font-family: var(--si-title-font);
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .license {
  font-size: 0.7rem;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .agency, html.print.listings page.front-page .broker-infos .broker-list .broker .company-name {
  display: none;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .contact .contact-item {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center start;
  gap: 0.05in;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .contact .contact-item.phone-type-office {
  display: none;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .contact .contact-item span {
  font-size: 0.7rem;
  padding-right: 0.5em;
}
html.print.listings page.front-page .broker-infos .broker-list .broker .contact .contact-item em {
  font-size: 0.75rem;
  font-style: normal;
}
html.print.listings page.front-page .information {
  z-index: 10;
  color: var(--si-text-color);
  background-color: var(--si-background-color) !important;
  grid-template-columns: 1fr 4in 1fr;
  grid-template-rows: auto;
  grid-template-areas: "transaction . price" "ref_number . price";
  gap: 0 0.25in;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.25in;
  padding: 0.33in;
}
html.print.listings page.front-page .information .transaction {
  text-transform: uppercase;
}
html.print.listings page.front-page .information .address {
  font-size: 1.85rem;
  width: 4in;
  grid-column: span 2;
  padding: 0.2in 0.5in;
  text-transform: uppercase;
  background-color: var(--si-highlight) !important;
  color: var(--si-highlight-text-color) !important;
  transform: translate(-50%, 0%);
  position: absolute;
  display: grid;
  place-items: center;
  gap: 0.1in;
  top: 0;
  left: 50%;
  text-align: center;
}
html.print.listings page.front-page .information .civic {
  color: inherit !important;
}
html.print.listings page.front-page .information .district {
  font-size: 0.5em;
  font-weight: 700;
  color: inherit !important;
}
html.print.listings page.front-page .information .city {
  font-size: 0.6em;
  position: relative;
  padding-top: 1rem;
  color: inherit !important;
}
html.print.listings page.front-page .information .city::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 1pt;
  width: 0.5in;
  left: 50%;
  transform: translateX(-50%);
  background: var(--si-highlight-text-color);
}
html.print.listings page.front-page .information .price {
  grid-area: price;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--si-title-font);
  padding-left: 0.2in;
  place-self: center end;
}
html.print.listings page.front-page .information .ref_number {
  grid-area: ref_number;
  font-size: 0.8em;
}
html.print.listings page.front-page .information .transaction {
  grid-area: transaction;
}
html.print.listings page.details .page-background::after {
  background-color: var(--si-background-color) !important;
  opacity: 0.75;
}
html.print.listings page.details .page-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  place-items: stretch;
  grid-gap: 0.25in 0;
  padding: 0.1in;
  padding-bottom: 0.2in;
}
html.print.listings page.details .panel.si-empty {
  display: none !important;
}
html.print.listings page.details .panel.addendum {
  grid-column: 1/-1;
}
html.print.listings page.details .panel.addendum .content {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 0.25in;
}
html.print.listings page.details .panel.description, html.print.listings page.details .panel.addendum {
  font-size: 0.1in;
  line-height: 1;
}
html.print.listings page.details .panel.description, html.print.listings page.details .panel.proximity {
  grid-column: 1/-1;
}
html.print.listings page.details .panel.icon-ribbon {
  margin: 0.25in;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 1/span 2;
  border-radius: var(--si-border-radius);
  background-color: var(--si-highlight) !important;
  --si-text-color:var(--si-highlight-text-color);
  color: var(--si-text-color);
}
html.print.listings page.details .panel.icon-ribbon .item {
  margin: 0.05in;
  padding: 0.05in;
  text-align: center;
}
html.print.listings page.commercial-details {
  padding: 0;
}
html.print.listings page.commercial-details .page-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto 1fr;
  place-items: start stretch;
  gap: 0.25in;
}
html.print.listings page.commercial-details .page-layout .panel {
  padding: 0.25in;
}
html.print.listings page.commercial-details .page-layout .panel.other-specs {
  grid-row: 1/span 6;
}
html.print.listings page.commercial-details .page-layout .panel.other-specs .spec-grid {
  grid-template-columns: 1fr;
  gap: 0.1in;
}
html.print.listings page.commercial-details .page-layout .panel .area {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center end;
  margin-bottom: 0.1in;
}
html.print.listings page.commercial-details .page-layout .panel .area label {
  text-transform: uppercase;
  margin: 0;
}
html.print.listings page.commercial-details .page-layout .panel .area .value {
  margin-right: 0.25in;
  font-weight: 700;
}
html.print.listings page.commercial-details .page-layout .financial {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.25in;
}
html.print.listings page.details-part2 .page-background::after {
  background-color: var(--si-background-color) !important;
  opacity: 0.75;
}
html.print.listings page.details-part2 .panel .area {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center end;
  grid-column: 1/span 2;
  margin-bottom: 0.1in;
}
html.print.listings page.details-part2 .panel .area label {
  text-transform: uppercase;
  margin: 0;
}
html.print.listings page.details-part2 .panel .area .value {
  font-weight: 700;
}
html.print.listings page.details-part2 .panel.map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.25in;
  place-items: stretch;
}
html.print.listings page.details-part2 .panel.map .static-map {
  width: 4in;
  height: 4in;
}
html.print.listings page.details-part2 .panel.map .notepad .handwrite-zone {
  top: 0.5in;
  right: 0in;
}
html.print.listings page.details-part2 .page-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0.25in 0;
  padding: 0.1in;
  padding-bottom: 0.2in;
  place-items: stretch;
}
html.print.listings page.details-part2 .financial {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.25in;
  grid-row: 2/span 2;
  grid-column: 2;
}
html.print.listings page.rooms::after {
  width: 0.05in;
  height: 10.25in;
  top: 0.25in;
  background: red;
  position: absolute;
  left: 0px;
}
html.print.listings page.rooms .room-list {
  display: grid;
  grid-template-columns: 1fr;
}
html.print.listings page.rooms .room-list .room-item {
  display: grid;
  grid-template-columns: 1fr 1in 1in 1.5in 2.5in;
}
html.print.listings page.rooms .room-list .room-item > div {
  padding: 0.1in 0.1in 0.1in 0;
}
html.print.listings page.rooms .room-list .room-item > div:first-child {
  padding-left: 0.1in;
}
html.print.listings page.rooms .room-list .room-item:nth-child(odd) {
  background-color: var(--si-small-contrast-color) !important;
  color: var(--si-small-contrast-text-color) !important;
}
html.print.listings page.rooms .room-list .room-item.list-header {
  background-color: transparent !important;
  font-style: italic;
  opacity: 0.75;
  border-bottom: solid 0.01in var(--si-border-color);
}
html.print.listings page.rooms .room-list .room-item.list-header > div {
  padding: 0;
}
html.print.listings page.rooms .unit {
  position: relative;
}
html.print.listings page.rooms .unit .space-taken {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0.01in;
  background-color: red !important;
}
html.print.listings page.rooms .unit .summary-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--si-small-contrast-color);
  color: var(--si-small-contrast-text-color);
  border-radius: var(--si-border-radius);
}
html.print.listings page.rooms .unit .summary-data .flag {
  text-align: center;
  padding: 0.1in;
}
html.print.listings page.rooms .unit .summary-data .flag:not(:last-child) {
  border-right: solid 0.01in var(--si-border-color);
}
html.print.listings page.rooms .unit .summary-data .flag em {
  font-size: 1.75rem;
  font-style: normal;
}
html.print.listings page.rooms .unit .summary-data .flag label {
  font-weight: 400;
}
html.print.listings page.photos .photo-list {
  padding: 0.2in;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.2in;
  place-items: stretch;
}
html.print.listings page.photos .photo-list .item {
  background-color: var(--si-small-contrast-color) !important;
}
html.print.listings page.photos .photo-list .item .photo {
  height: 1.75in;
}
html.print.listings page.photos .photo-list .item .photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
html.print.listings page.photos .photo-list .item label {
  opacity: 0.75;
  text-align: center;
  text-transform: uppercase;
  padding: 0.1in;
  margin-bottom: 0px;
}
html.print.listings page.last-page .dock-left {
  width: 4.75in;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 0.25in;
}
html.print.listings page.last-page .brokers .broker-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.1in;
  place-items: stretch;
}
html.print.listings page.last-page .brokers .broker-list .broker {
  background-color: var(--si-small-contrast-color) !important;
  --text-color: var(--si-small-contrast-text-color);
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: start;
  overflow: hidden;
  border-radius: var(--si-border-radius);
  gap: 0.1in;
  padding: 0.1in;
}
html.print.listings page.last-page .brokers .broker-list .broker .infos {
  width: 100%;
  padding: 0.1in;
  display: grid;
  gap: 1rem;
  font-size: 0.8rem;
}
html.print.listings page.last-page .brokers .broker-list .broker .photo {
  font-size: 1.2in;
  width: 1em;
  place-self: start;
  grid-column: 1;
  height: 1.25em;
  border-radius: inherit;
  overflow: hidden;
}
html.print.listings page.last-page .brokers .broker-list .broker .photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
html.print.listings page.last-page .brokers .broker-list .broker .name {
  font-family: var(--si-title-font);
  font-size: 1.1em;
  text-transform: uppercase;
}
html.print.listings page.last-page .brokers .broker-list .broker .contact {
  display: grid;
  gap: 0.5rem;
}
html.print.listings page.last-page .brokers .broker-list .broker .contact .contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
}
html.print.listings page.last-page .brokers .broker-list .broker .contact .contact-item em {
  font-style: normal;
}
html.print.listings page.last-page .notepad {
  width: 3.5in;
}
html.print.listings page.last-page .notepad .personnal-note-container h3 {
  margin-bottom: 0.25in;
}
html.print.listings page.last-page .notepad .handwrite-zone {
  height: calc(100% - 0.25in);
}
html.print.listings page.last-page .notepad .static-map-container {
  overflow: hidden;
  border-radius: var(--si-border-radius, 0);
}
html.print.listings page.last-page .static-map {
  width: 3in;
  height: 3in;
}
html.print.listings page.last-page .recap .price {
  font-size: 2rem;
  position: relative;
}
html.print.listings page.last-page .recap .price::before {
  content: "";
  position: absolute;
  background: var(--si-highlight);
  top: 50%;
  left: 0;
  height: 120%;
  width: 1in;
  transform: translate(-1.15in, -50%);
}
html.print.listings page.last-page .recap .transaction {
  font-size: 1rem;
  text-transform: uppercase;
}
html.print.listings page.last-page .recap .address {
  padding: 0.05in 0;
}
html.print.listings page.last-page .recap .address .civic {
  font-size: 1.25rem;
}
html.print.listings page.last-page .recap .address .city {
  opacity: 0.75;
}
html.print.listings page.annex .page-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 0.05in;
  padding: 0.25in;
  place-items: start stretch;
}
html.print.listings page.annex .page-layout h3 {
  grid-column: 1/span 2;
}
html.print.listings page.annex .addendum {
  white-space: pre;
}
html.print .print-com page.front-page .page-background {
  height: 5.5in;
  top: 0.75in;
}
html.print .print-com page.front-page .logo {
  position: absolute;
  top: 0in;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background: var(--si-background-color) !important;
  padding: 0.1in 0.25in;
}
html.print .print-com page.front-page .information-panel {
  position: absolute;
  top: 6.25in;
  width: 100%;
  left: 0;
  transform: translateY(-0.75in);
}
html.print .print-com page.front-page .information-panel .information-panel-content .address {
  background: var(--si-highlight) !important;
  --text-color:var(--si-highlight-text-color)!important;
  color: var(--text-color) !important;
  padding: 0.1in;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 0.1in;
  line-height: 1;
}
html.print .print-com page.front-page .information-panel .information-panel-content .address .civic {
  font-size: 0.6in;
  grid-row: 1/span 3;
  color: inherit !important;
}
html.print .print-com page.front-page .information-panel .information-panel-content .address .street {
  font-size: 0.25in;
}
html.print .print-com page.front-page .information-panel .information-panel-content .address .street, html.print .print-com page.front-page .information-panel .information-panel-content .address .city, html.print .print-com page.front-page .information-panel .information-panel-content .address .transaction {
  grid-column: 2;
  color: inherit !important;
}
html.print .print-com page.front-page .information-panel .information-panel-content .address .transaction {
  text-transform: uppercase;
}
html.print .print-com page.front-page .information-panel .information-panel-content .resume {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25in;
}
html.print .print-com page.front-page .information-panel .information-panel-content .resume .resume-part {
  padding: 0.2in;
  display: flex;
  flex-direction: column;
  gap: 0.1in;
}
html.print .print-com page.front-page .information-panel .information-panel-content .resume .price {
  font-size: 0.35in;
}
html.print .print-com page.front-page .information-panel .information-panel-content .resume .available-area {
  font-size: 0.25in;
}
html.print .print-com page.front-page .information-panel .information-panel-content .resume .available-area label {
  font-weight: 400;
  font-size: 0.75em;
  margin: 0;
}
html.print .print-com page.front-page .information-panel .information-panel-content .resume .available-area span {
  font-weight: 700;
}
html.print .print-com page.details .page-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  place-items: start stretch;
  gap: 0.2in;
}
html.print .print-com page.details .page-layout .page-side, html.print .print-com page.details .page-layout .financial {
  display: grid;
  gap: 0.2in;
}
html.print .print-com page.texts .page-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: stretch;
  padding: 0.1in;
  gap: 0.2in;
}