@import url('https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css');

$small-phone : 420px;
$phone : 640px;
$tablet : 800px;
$laptop : 1280px;
$desktop : 1440px;


:root{
    --si-container-width: 1170px;
    --si-font-name: inherit;
    --si-uls-label: "ULS: ";
    --si-text-color: #333;
    --si-background-color: #fff;
    --si-layout-gutter: 20px;

    
    --si-padding: 20px;
    --si-border-width : 1px;
    --si-border-style : solid;
    --si-border-color : #aaa;
    --si-border-radius : 10px;

    --si-input-placeholder-color: rgba(#333,0.5);
    --si-element-border-color: #aaa;
    --si-element-border: solid 1px var(--si-element-border-color);
    --si-element-border-radius: 0px;
    --si-element-padding: 10px;
    
    --si-container-border-color: var(--si-element-border-color);
    --si-container-border: solid 1px var(--si-container-border-color);
    --si-container-border-radius: var(--si-element-border-radius);
    --si-container-padding: var(--si-layout-gutter);

    --si-list-item-padding: 10px;
    --si-list-item-separator-color: #aaa;
    --si-list-item-separator: solid 1px var(--si-list-item-separator-color);

    --si-high-contrast-color:#333;
    --si-high-contrast-text-color: #fff;
    --si-medium-contrast-color:#b9b9b9;
    --si-medium-contrast-text-color: #333;
    --si-small-contrast-color:#f1f1f1;
    --si-small-contrast-text-color: #333;
    --si-highlight: #ff9900;
    --si-highlight-text-color: #333;
    --si-error-color: #850000;

    --si-component-border-color: #aaa;
    --si-component-border: solid 1px var(--si-component-border-color);
    --si-component-border-radius: var(--si-element-border-radius);

    --si-button-bg-color: #333;
    --si-button-text-color: #fff;
    --si-button-font-name: var(--si-font-name);
    --si-button-hover-bg-color: #ff9900;
    --si-button-hover-text-color: #333;
    --si-button-alt-bg-color: #777;
    --si-button-alt-text-color: #fff;
    --si-button-alt-hover-bg-color: #9d9d9d;
    --si-button-alt-hover-text-color: #fff;

    // listings
    //--si-listing-item-sold-bg-color: #ff8800;
    //--si-listing-item-sold-text-color: #fff;
    --si-listing-item-column-width : 340px;
    --si-listing-item-picture-ratio : 3 / 2;
    --si-listing-item-picture-ratio-inverse : 2 / 3;
    --si-listing-item-picture-fit: cover;

    --si-thumbnail-picture-size: 100px;
    
    --si-map-marker-bg: #333;
    --si-map-marker-fg: #fff;
    //--si-map-marker-bg-sold: #f51717;
    //--si-map-marker-fg-sold: #fff;

    // brokers
    --si-broker-item-column-width : 210px;
    --si-broker-item-picture-ratio : 3.2 / 4;
    --si-broker-item-picture-fit: cover;

    // cities
    --si-city-item-column-width : 320px;

    // offices
    --si-office-item-column-width : 320px;

    --si-desktop-column-width : 3;
    --si-laptop-column-width : 4;
    --si-tablet-column-width: 2;
    --si-mobile-column-width: 1;
}

// SUPPORT FORM ID3-FRAMEWORK COLOR PALETTE
body.id3-framework{
    --si-text-color: var(--id3-color-primary-revert, #333);
    --si-background-color: var(--id3-color-primary, #fff);
    --si-highlight: var(--id3-color-action, #ff9900);
    --si-highlight-text-color: var(--id3-color-action-revert,#333);
    --si-button-bg-color: var(--id3-color-secondary,#333);
    --si-button-text-color: var(--id3-color-secondary-revert,#fff);

    --si-button-hover-bg-color: var(--id3-color-action, #ff9900);
    --si-button-hover-text-color: var(--id3-color-action-revert,#333);

    // --si-high-contrast-color: var(--id3-color-secondary-a70); // hsl(var(--id3-color-base-primary), var(--id3-color-primary-l-30));
    // --si-high-contrast-text-color: var(--id3-color-secondary-revert); // hsl(var(--id3-color-base-primary), var(--id3-color-primary-l-100));
    // --si-medium-contrast-color: var(--id3-color-secondary-a50); //  hsl(var(--id3-color-base-primary), var(--id3-color-primary-l-20));
    // --si-medium-contrast-text-color: var(--id3-color-secondary-revert); //  hsl(var(--id3-color-base-primary), var(--id3-color-primary-l-100));
    // --si-small-contrast-color: var(--id3-color-secondary-a10); //  hsl(var(--id3-color-base-primary), var(--id3-color-primary-l-10));
    // --si-small-contrast-text-color: hsl(var(--id3-color-base-primary), var(--id3-color-primary-l-100));

    // --si-high-contrast-color: var(--id3-color-secondary);
    // --si-high-contrast-text-color: var(--id3-color-secondary-revert);
    // --si-medium-contrast-color: hsl(var(--id3-color-base-secondary), var(--id3-color-secondary-l-20));
    // --si-medium-contrast-text-color: hsl(var(--id3-color-base-secondary), var(--id3-color-secondary-l-100));
    // --si-small-contrast-color: hsl(var(--id3-color-base-secondary), var(--id3-color-secondary-l-10));
    // --si-small-contrast-text-color: hsl(var(--id3-color-base-secondary), var(--id3-color-secondary-l-100));


    --si-border-color: hsl(var(--id3-color-base-primary), var(--id3-color-primary-l-20));

    --si-element-border-radius : var(--id3-ui-corner);
}


@import "public/_mixins";

// CLASS USING VARIABLES
@import "public/_variable_styles";
@import "public/_animations";
@import "public/_basics";
@import "public/_search_engines";
@import "public/_lists";

@import 'public/_singles';
@import "public/_components";
@import "public/_fixes";
@import "public/_compatibility";
@import "public/_components_layout";