@import url("https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css");
.immodb {
  display: grid;
  /* Basic Bootstrap requirements overrides */
}

.immodb a {
  color: #333;
  text-decoration: none;
}

.immodb a:hover {
  color: inherit;
  text-decoration: inherit;
}

.immodb .layout-row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
}

.immodb .layout-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.immodb .search-container {
  grid-area: search;
  display: grid;
  grid-gap: 10px;
  padding: 5px 15px;
  position: relative;
  align-items: center;
}

.immodb .search-container .btn {
  width: 100%;
}

.immodb .search-container .input {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-area: input;
}

.immodb .search-container .input input {
  border: none;
  outline: none;
}

.immodb .search-container .input .suggestion-panel {
  display: none;
  position: absolute;
  width: 100%;
  top: 50px;
  background: #fff;
  z-index: 9999;
  min-height: 500px;
  max-height: 80vh;
  border: solid 1px #ccc;
  border-radius: 0 0 5px 5px;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

.immodb .search-container .input input:focus ~ .suggestion-panel {
  display: block;
}

.immodb .search-container .advanced {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-area: advanced;
}

.immodb .search-container .advanced .search-trigger {
  grid-area: trigger;
  display: none;
}

.immodb .search-container .advanced .category {
  grid-area: category;
}

.immodb .search-container .advanced .category .dropdown-menu {
  padding: 10px;
}

.immodb .search-container .advanced .category .dropdown-menu form {
  display: grid;
  grid-gap: 10px;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "category subcategory";
}

.immodb .search-container .advanced .subcategory {
  grid-area: subcategory;
}

.immodb .search-container .advanced .price {
  grid-area: price;
}

.immodb .search-container .advanced .price .dropdown-menu {
  padding: 10px;
}

.immodb .search-container .advanced .price .dropdown-menu form {
  display: grid;
  grid-gap: 10px;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
}

.immodb .search-container .advanced .price .dropdown-menu form .layout-column {
  min-width: 150px;
}

.immodb .search-container .advanced .bedrooms {
  grid-area: bedrooms;
}

.immodb .search-container .advanced .bedrooms .menu-item {
  padding: 10px;
  text-align: center;
  transition: 0.25s;
}

.immodb .search-container .advanced .bedrooms .menu-item:hover {
  background: #ccc;
}

.immodb .search-container .advanced .bedrooms .menu-item.selected {
  background: #333;
  color: #fff;
}

.immodb .search-container .advanced .more {
  grid-area: more;
}

.immodb .search-container .client-filters {
  grid-area: client_filters;
  display: grid;
  grid-gap: 10px;
  align-items: center;
}

.immodb .search-container .client-filters .label {
  grid-area: label;
}

.immodb .search-container .client-filters .list {
  grid-area: list;
  display: flex;
  flex-wrap: wrap;
}

.immodb .search-container .client-filters .list .item {
  background: #ccc;
  padding: 5px;
  margin: 2px;
  font-size: 0.8em;
  border-radius: 3px;
}

.immodb .search-container .client-filters .list .item .fal {
  color: #333;
}

.immodb .search-container .client-filters .reset {
  grid-area: reset;
}

.immodb .sort-container {
  grid-area: sort;
}

.immodb .pages-container {
  grid-area: pages;
}

.immodb .pages-container {
  grid-area: pages;
}

.immodb .view-switch {
  grid-area: switch;
}

.immodb .list-meta {
  grid-area: meta;
}

.immodb .list-meta .list-count em {
  font-weight: 700;
  font-style: normal;
}

.immodb .next-page {
  grid-area: next-page;
}

.immodb .immodb-list-container {
  grid-area: list;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.immodb .immodb-list-header {
  grid-area: header;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.immodb .immodb-list {
  grid-area: list;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: stretch;
  align-items: stretch;
}

.immodb .immodb-item {
  border: solid 1px #aaa;
  border-radius: 5px;
  overflow: hidden;
  justify-self: stretch;
}

.immodb .immodb-item .content {
  display: grid;
  position: relative;
}

.immodb .immodb-item .content .image {
  grid-area: image;
  position: relative;
  overflow: hidden;
}

.immodb .immodb-item .content .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}

.immodb .immodb-item .content .category {
  grid-area: category;
}

.immodb .immodb-item .content .subcategory {
  grid-area: subcategory;
}

.immodb .immodb-item .content .description {
  grid-area: description;
}

.immodb .immodb-item .content .price {
  grid-area: price;
}

.immodb .immodb-item .content .ref_number {
  grid-area: ref_number;
}

.immodb.standard-layout {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: "search search search" "list list list";
}

.immodb.standard-layout .search-container {
  border: solid 1px #aaa;
  border-radius: 5px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "input advanced" "client_filters client_filters";
}

.immodb.standard-layout .search-container .input {
  grid-template-columns: 20px 1fr 20px;
}

.immodb.standard-layout .search-container .input label.placeholder {
  padding: 20px;
  font-weight: 400;
  opacity: 0.75;
  text-align: center;
  text-transform: uppercase;
}

.immodb.standard-layout .search-container .input .keyword-suggestion {
  padding: 5px 10px;
  transition: 0.25s;
}

.immodb.standard-layout .search-container .input .keyword-suggestion:hover {
  background: #ccc;
}

.immodb.standard-layout .search-container .input .keyword-suggestion.selected {
  background: #aaa;
}

.immodb.standard-layout .search-container .advanced {
  justify-content: flex-end;
  grid-template-columns: auto;
  grid-template-areas: "category price bedrooms more";
}

.immodb.standard-layout .search-container.show-trigger .advanced {
  grid-template-areas: "category price bedrooms more trigger";
}

.immodb.standard-layout .search-container.show-trigger .advanced .search-trigger {
  display: block;
}

.immodb.standard-layout .search-container .client-filters {
  grid-template-columns: minmax(100px, 1fr) 10fr 1fr;
  grid-template-areas: "label list reset";
}

.immodb.standard-layout .search-container .client-filters .list {
  grid-template-columns: repeat(auto-fill);
}

.immodb.standard-layout .list-meta .list-count {
  text-align: center;
}

.immodb.standard-layout .immodb-list-container {
  grid-template-areas: "header header header" "list list list" "footer footer footer" ". next-page .";
}

.immodb.standard-layout .immodb-list-container .immodb-list-header {
  grid-template-areas: "switch meta sort";
}

.immodb.standard-layout .immodb-list-container .immodb-list-header .sort-container {
  justify-self: end;
}

.immodb.standard-layout .immodb-item {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}

.immodb.standard-layout .immodb-item .content {
  padding: 10px;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 150px auto;
  grid-template-areas: "price price price" "image image image" "category category ref_number" "subcategory subcategory subcategory" "description description description";
}

.immodb.direct-layout {
  grid-template-columns: 120px 1fr 60px 60px;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: "list list list list" "meta meta meta meta";
}

.immodb.direct-layout .list-meta .list-count {
  text-align: center;
}

.immodb.direct-layout .immodb-item .content {
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 150px auto;
  grid-template-areas: "price price price" "image image image" "category category ref_number" "subcategory subcategory subcategory" "description description description";
}

@media screen and (min-width: 48em) {
  .immodb .dropdown-toggle {
    display: block;
    position: relative;
  }
}
