@import url('https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css');

@mixin gridAreas($areas...){
    @each $item in $areas {
        .#{$item} {
            grid-area: #{$item};
        }
    }
}

.immodb{
    display:grid;
    a{
        color: #333;
        text-decoration: none;
        &:hover{
            color:inherit;
            text-decoration:inherit;
        }
    }

    label{font-weight: 400;}

    .layout-row{
        display:grid;
        grid-auto-columns: 1fr;
        grid-gap:10px;
    }
    .layout-column{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap:10px;
        .dropdown-divider{
            height:5px;margin: 0;
        }
    }

    // ************************
    // LIST
    // ************************

    // -------------------------
    // Elements initialization 
    // ------------------------- 
    .search-container{
        grid-area: search;
        display:grid;
        grid-gap:10px;
        padding:5px 15px;
        position:relative;
        align-items:center;
        .btn{width:100%;}
        .dropdown-menu{box-shadow: rgba(#000,0.5) 0 15px 30px;}

        .tabs{
            display:grid;
            grid-template-areas:
                "header"
                "content"
                ;
            .tab-header{
                grid-area: header;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                
                .tab-item{
                    opacity:0.5;
                    position: relative;
                    transition:0.25s;
                    min-width:100px;
                    text-align:center;
                    label{
                        display:block;
                        font-size:0.75em;
                        text-align:inherit;
                        text-transform: lowercase;
                    }
                    &:after{
                        position: absolute;
                        content:"";
                        transition:0.25s;
                        background-color:currentColor;
                    }
                    &.active{
                        opacity:1;
                    }
                }
            }
            .tab-content{
                grid-area: content;
            }
            &.tabs-top{
                .tab-header{
                    border-bottom:solid 1px rgba(#333,0.25);
                    .tab-item{
                        padding:10px;padding-top:0px;
                        &:after{
                            bottom:0px;left:50%;transform:translateX(-50%);
                            height:3px;
                            width:0px;
                        }
                        &.active{
                            &:after{
                                width:100%;
                            }
                        }
                    }
                }
                .tab-content{
                    padding-top:10px;margin-top:10px;
                }
            }
            &.tabs-left{
                grid-template-columns: 1fr 2fr;
                grid-template-areas: "header content";
                .tab-header{
                    flex-direction:column;
                    justify-content: flex-start;
                    align-items:stretch;
                    background:#eee;
                    .tab-item{
                        text-align:left;
                        padding:5px 10px;
                        &:after{
                            width:3px;
                            height:0px;
                            top:50%;left:0;transform:translateY(-50%);
                        }
                        &.active{
                            background:#fff;
                            &:after{
                                height:100%;
                            }
                        }
                    }
                }
                .tab-content{
                    padding:10px;margin-left:10px;
                    max-height:50vh;
                    overflow-y:auto;
                }
            }
        }

        .input{
            display:grid;grid-gap:10px;
            align-items:center;
            grid-area: input;

            input{
                border:none;
                outline:none;
            }
            form{
                padding:20px;
                .tabs{width:640px;}
            }
            .geo-btn{
                cursor:pointer;
                &.active{color:#007ACC;font-weight: 700;}
            }
        }

        .advanced{
            display:grid;grid-gap:10px;
            align-items:center;
            grid-area: advanced;
            h4{
                font-size:20px;font-weight: 400;margin:0px;
            }
            form{
                padding:20px;
                display:grid;
                place-items: start stretch;
            }
            .search-trigger{
                grid-area: trigger;
                display:none;
            }

            .category{
                
            }
            
            .subcategory{
               
            }

            .price{
                grid-area: price;
                .dropdown-menu{
                    form{
                        @include gridAreas('price-inputs','price-suggestions');
                        min-width:300px;
                        grid-template-areas : 
                            "price-inputs"
                            "price-suggestions"
                            ;
                        
                        .price-inputs{
                            display:grid;
                            grid-gap: 5px;
                            grid-template-columns: 1fr 36px 1fr;
                            place-items: center stretch;
                        }

                        .price-suggestions{
                            grid-gap:0px;
                            .item{
                                transition:0.25s;
                                padding:8px 10px;
                                &:hover{
                                    background:#ccc;
                                }
                            }
                            &.target-max{
                                text-align:right;
                            }
                        }
                    }
                }
            }
            .bedrooms{
                grid-area: bedrooms;
                .menu-item{
                    padding:10px;
                    text-align:center;
                    transition:0.25s;
                    &:hover{
                        background:#ccc;
                    }
                    &.selected{
                        background:#333;
                        color:#fff;
                    }
                }
            }
            .more{
                grid-area: more;
                form{
                    display:grid;
                    @include gridAreas('building_category','transaction','parkings','attribute','bathrooms','age');

                    grid-gap: 20px 0px;
                    grid-template-areas:
                            "bathrooms age parkings" 
                            "attribute building_category transaction"
                            ;
                            
                    width:800px;
                }
            }
        }
        .client-filters{
            grid-area: client_filters;
            display:grid;grid-gap:10px;
            align-items:center;
            .label{grid-area: label;}
            .list{
                grid-area: list;
                display:flex;
                flex-wrap: wrap;
                .item{
                    background:#ccc;
                    padding:5px;
                    margin:2px;
                    font-size:0.8em;
                    border-radius:3px;
                    .fal{
                        margin:3px;
                        text-align:center;line-height:1.3em;
                        width:16px;height:16px;
                        color:#fff;background-color:#555;
                        border-radius:50%;
                        cursor:pointer;
                        transition:0.25s;
                        &:hover{
                            transform:rotate(360deg);
                            background-color:#333;
                            &:before{content:"\f068"}
                        }
                    }
                }
            }
            .reset{grid-area: reset;}
        }
    } 
    .map-container{
        grid-area: map;
    }  
    .sort-container{
        grid-area: sort;
    }
    .pages-container{
        grid-area: pages;
    }
    .pages-container{
        grid-area: pages;
    }
    .view-switch{
        grid-area: switch;
    }
    .list-meta{
        grid-area: meta;
        .list-count{
            em{font-weight: 700;font-style:normal;}
        }
    }
    .next-page{
        grid-area: next-page
    }
    .immodb-list-container{
        grid-area: list;
        display:grid;
        grid-gap:20px;
        padding:20px;
        border:solid 1px #ccc;
        border-radius:5px;
    }
    .immodb-list-header{
        grid-area: header;
        display:grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .immodb-list{
        grid-area: list;
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        justify-items:stretch;align-items: stretch;
    }
    .immodb-item{
        $areas : 'ref-number' 'category' 'subcategory' 'price' 'city' 'image' 
                    'description' 'address' 'region' 'state' 'country';
        @each $item in $areas {
            .#{$item} {
                grid-area: #{$item};
                color:inherit;
            }
        }
        max-width:300px;
        &.info-window{
            max-width:250px;
            img{max-width:100%;}
            border:none;
        }
        // list item
        // ----------------
        border:solid 1px #aaa;
        overflow: hidden;
        justify-self: stretch;
        transition:0.25s;
        &.sold{
            background:#aaa;
            a{color:#fff;}
        }
        &:hover{
            box-shadow:rgba(#000,0.5) 0 20px 30px;
        }

        .content{
            display:grid;
            position:relative;
            color:inherit;
            padding:10px;
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 150px auto;
            grid-template-areas: 
                "price price price"
                "image image image"
                "city city region"
                "category category ref_number"
                "subcategory subcategory subcategory"
                "description description description"
                ;
            
            .image{
                position:relative;
                overflow:hidden;
                place-self:stretch;
                img{
                    object-fit: cover;
                }
            }
        }
    }


    // -------------------------
    // STANDARD LAYOUT 
    // ------------------------- 

    &.standard-layout{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: 
            "search search search"
            "list list list"
            ;

        // search container
        // ----------------
        .search-container{
            border:solid 1px #aaa;
            border-radius:5px;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
                "input advanced"
                "client_filters client_filters";
            
            .input{
                grid-template-columns: 20px 1fr 20px;
                label.placeholder{
                    padding:20px;font-weight: 400;opacity:0.75;text-align:center;text-transform: uppercase;
                }
                .keyword-suggestion{
                    padding:5px 10px;
                    transition:0.25s;
                    &:hover{
                        background:#ccc;
                    }
                    &.selected{
                        background:#aaa;
                    }
                }
            }
            .advanced{
                justify-content: flex-end;
                grid-template-columns: auto;
                grid-template-areas: "category price bedrooms more";
            }
            &.show-trigger{
                .advanced{
                    grid-template-areas: "category price bedrooms more trigger";
                    .search-trigger{display:block;}
                }
            }
            .client-filters{
                grid-template-columns: minmax(100px,1fr) 10fr 1fr;
                grid-template-areas: "label list reset";

                .list{
                    grid-template-columns: repeat(auto-fill);
                    
                }
            }

            

        }

        // map container
        // ----------------
        .map-container{
            $map_marker_color: #4884DA;
            .viewport{height:640px;width:100%;}
            .map-marker-icon{
                background:$map_marker_color;
                &:before{
                    font-family: "Font Awesome 5 Pro";
                    content:"\f041";
                    font-size:45px;
                    font-weight:600;
                    width:40px;
                    text-align:center;
                    color:#333;
                    position: absolute;
                    bottom:0px;left:-20px;
                    opacity:0.8;
                }
                &:after{
                    position:absolute;
                    font-family: "Font Awesome 5 Pro";
                    font-weight:300;
                    content:"\f015";
                    color:#fff;
                    bottom: 15px;
                    font-size:20px;
                    width:40px;left:-20px;
                    text-align:center;
                }
                &.multi-family{
                    &:after{
                        content: "\f1ad";
                    }
                }
                &.lot{
                    &:after{
                        content: "\f400";
                    }
                }
                &.com{
                    &:after{
                        content: "\f290";
                    }
                }
                &.revenue_prop{
                    &:after{
                        content: "\f2e9";
                    }
                }
                &.farm{
                    &:after{
                        content: "\f1b0";
                    }
                }
            }
        }

        // list-meta
        // ----------------
        .list-meta{
            .list-count{text-align:center;};
        }

        // main list container
        // ----------------
        .immodb-list-container{
            grid-template-areas:
                "header header header"
                "list list list"
                "footer footer footer"
                ". next-page .";
            &.display-mode-map{
                grid-template-areas:
                    "header header header"
                    "map map map"
                    ;
            }
            .immodb-list-header{
                grid-template-areas:
                    "switch meta sort";
                .sort-container{justify-self: end;}
            }
        }

    }


    // -------------------------
    // DIRECT LAYOUT 
    // ------------------------- 
    &.direct-layout{
        grid-template-columns: 120px 1fr 60px 60px;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: 
            "list list list list"
            "meta meta meta meta"
        ;

        .list-meta{
            .list-count{text-align:center;};
        }
    }

    // ***************************
    // SINGLE
    // ***************************
    
    // ---------------
    // Listing
    // ---------------
    &.listing-single{
        label.placeholder{
            padding:20px;font-weight: 400;opacity:0.75;text-align:center;text-transform: uppercase;
        }
        .content{

            display:none;
            $areas : 'ref-number' 'subcategory' 'price' 'city' 'medias' 
                    'header' 'summary' 'details' 'left' 'right' 'flags'
                    'description' 'addendum' 'information_request'
                    'location' 'address' 'near' 'region' 'state' 'country'
                    'brokers' 'name' 'contact' 'phone' 'photo' 'tools'
                    'mortgage-calculator'
                    
                    ;
            @each $item in $areas {
                .#{$item} {
                    grid-area: #{$item};
                }
            }

            grid-gap: 20px;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto;
            align-items: start;
            grid-template-areas: 
                "header header"
                "medias summary"
                "details details"
                ;
            @media screen and (max-width:640px){
                grid-template-columns: 1fr;
                grid-template-areas:
                    "header"
                    "medias"
                    "summary"
                    "details"
                ;
            }

            .header{
                display:grid;
                grid-gap: 10px;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: auto;
                grid-template-areas: 
                    "subcategory subcategory  subcategory price price price price" 
                    "city city city city tools information_request information_request";
                @media screen and (max-width:640px){
                    grid-template-columns: 1fr;
                    justify-items:center;
                    grid-template-areas:
                        "subcategory"
                        "city"
                        "price"
                        "tools"
                        "information_request"
                    ;
                }
                .information_request{
                    place-self: stretch;
                    text-align:center;
                    grid-column-span: 2;
                    button{width:100%;display:block;}
                }

                .tools{
                    place-self: self-end;
                    grid-column-span: 2;
                    button{
                        background-color:#777;
                        padding:1em 1em;
                        &:hover{background-color:lighten(#777,15)}
                    } 
                    @media screen and (max-width:640px){
                        place-self:center;
                    }
                }
                .subcategory{
                    font-size:2em;font-weight:600;
                    text-transform: uppercase;
                }
                .city{
                    font-size:1.75em;font-weight: 300;
                    place-self: center self-start;
                }
                .price{
                    font-size:1.75em;font-weight: 600;
                    place-self: self-end;
                    text-align:right;
                    .mortgage{
                        font-size:0.5em;font-weight:400;
                        a{border-bottom:dotted 1px rgba(#000,0.75);outline:none;}
                    }
                    @media screen and (max-width:640px){
                        place-self:center;
                    }
                }
            }
            .medias{
                position:relative;    
                place-self: stretch;
                .tabs{
                    .tab{
                        background:none;color:#333;font-weight: 400;
                        transition:0.25s;
                        outline:none;
                        position:relative;
                        &:after{
                            content:"";
                            background:currentColor;
                            height:3px;width:0px;
                            position: absolute;bottom:0px;
                            left:50%;transform:translateX(-50%);
                            transition:0.25s;
                        }
                        &.selected{
                            font-weight: 600;
                            &:after{
                                width:100%;
                            }
                        }
                    }
                }
                > .viewport{
                    position:relative;
                    width:100%;height:560px;
                    overflow:hidden;

                    > .trolley{
                        height:100%;width:100%;
                        position:absolute;top:0px;left:0px;
                        display:grid;
                        grid-gap:0;
                        grid-template-rows: 100%;
                        grid-template-columns: repeat(4,100%);
                        place-items:stretch;
                        transition:0.25s;
                        .tab-content {position:relative;}
                        .placeholder{
                            position:absolute;
                            font-size:3em;opacity:0.2;
                            width:100%;text-align: center;
                            top:50%;transform:translateY(-50%);
                        }
                    }
                }
                
                .picture-gallery{
                    width:100%;height:100%;
                    overflow:hidden;
                }
                &.select-pictures{
                    >.viewport>.trolley{transform:translateX(0);}
                }
                &.select-videos{
                    >.viewport>.trolley{transform:translateX(-100%);}
                }
                &.select-streetview{
                    >.viewport>.trolley{transform:translateX(-200%);}
                }
                &.select-map{
                    >.viewport>.trolley{transform:translateX(-300%);}
                }

                .viewport{
                    .video{
                        background:#aaa;
                    }
                    .streetview{
                        background:#A0E3FA;
                    }
                    .map{
                        background:#CCF7E2;
                        .detail-map{
                            position: absolute;
                            top:0px;left:0px;width:100%;height:100%;
                            .viewport{width:100%;height:100%;}
                        }
                    }
                }
            }
            .summary{
                
                display:grid;
                grid-gap:0px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                    "ref-number ref-number"
                    "region state"
                    "address address"
                    "near near"
                    "description description"
                    "flags flags"
                    "information_request information_request"
                ;


                .ref-number{
                    opacity:0.5;
                    &:before{content:"# ref: ";}
                }
                .address{
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .near{
                    opacity:0.75;
                }
                .state{
                    place-self: self-end;
                }
                .description{
                    margin:20px 0;
                    padding-top:20px;
                    border-top:solid 1px rgba(#000,0.25);
                }
                .flags{
                    display:grid;
                    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
                    grid-template-rows:auto;
                    grid-gap: 20px;
                    .flag{
                        position:relative;
                        i{
                            font-size:40px;text-align:center;color:#888;
                            width:100%;
                        }
                        em{
                            font-size:15px; font-style:normal;
                            text-align:center;
                            position: absolute; top:0px;right:0px;
                            width:20px;height:20px;line-height:20px;
                            background:#333;color:#fff;
                            border-radius:50%;
                        }
                    }
                }
                
            }

            .details{
                display:grid;
                grid-gap: 20px;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: "left right";
                @media screen and (max-width:640px){
                    grid-template-columns: 1fr;
                    grid-template-areas: "left" "right";
                }
            }

            .spec-grid{
                display:grid;
                grid-gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                .spec{
                    display:block;
                    label{font-weight: 600;margin:0px;}
                    div{
                        span{
                            font-size:0.9em;
                            &:after{
                                content: ", "
                            }
                            &:last-child{
                                &:after{content:"";}
                            }
                        }
                    }
                }
            }
            
            .section{
                .title{
                    font-size:1.25em;text-transform: uppercase;
                    border-bottom: solid 1px rgba(#000,0.1);
                    padding:20px 0 10px 0;margin-bottom:10px;
                    display:grid;
                    grid-template-columns: 1fr 30px;
                    .icon{
                        position:relative;
                        width:30px;height:30px;transition:0.5s;
                        .fal{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);transition:0.25s;}
                        .fa-minus{opacity:0;}
                    }
                }
                .content{
                    max-height:0px;
                    overflow: hidden;
                    transition:0.25s;
                }
                &.opened{
                    .title{
                        .icon{
                            transform: rotate(360deg);
                            .fa-minus{opacity:1;}
                            .fa-plus{opacity:0;}
                        }
                    }
                    .content{
                        max-height:3000px;
                        transition:1s;
                    }
                }
            }

            .addendum{
                .content{white-space: pre;}
            }

            .brokers{
                display:grid;
                grid-gap:5px;
                .broker{
                    display:grid;
                    grid-gap:10px;
                    grid-template-columns: 100px 1fr;
                    grid-template-rows: minmax(30px, auto) auto;
                    grid-template-areas: 
                        "photo name" 
                        "photo contact"
                    ;
                    background:rgba(#000,0.1);
                    padding:10px;
                    .photo{
                        width:100px;height:100px;
                        border-radius:50%;background:#fff;
                    }
                    .name{
                        font-size:1.25em;font-weight: 600;
                    }
                    .contact{
                        align-self: start;
                    }
                }
            }

            .mortgage-calculator{
                background-color:#999;
                color:#fff;
                .immodb-calculator{padding:20px;}
                .title{
                    font-size:1.6em;padding:20px;
                }
                
                .result{
                    background:#333;
                    padding:20px;
                    text-align:center;
                    .mortgage{
                        font-size:1.2em;
                        margin-bottom:10px;
                    }
                    label{
                        color:inherit;opacity:0.5;
                        font-size:1.25em;
                    }
                    .value{
                        line-height:1.5em;
                        em{font-size:1.75em;display:block;font-style:normal;}
                    }
                }
            }
        }
        &.loaded{
            .content{
                display:grid;
            }
        }
    }

    #information_request{
        $areas : 
                'firstname' 'lastname' 'email' 
                'phone' 'subject' 'message'
                ;
            @each $item in $areas {
                .#{$item} {
                    grid-area: #{$item};
                }
            }
        
        .modal-body{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            grid-template-areas: 
                    "firstname lastname"
                    "phone email"
                    "subject subject"
                    "message message"
                ;
        }
    }


    /* Basic Bootstrap requirements overrides */
    @media screen and (min-width: 48em){
        .dropdown-toggle {
            display: block;position:relative;
        }
    }
}

.immodb-image-slider{
    position:absolute;
    width:100%;height:100%;
    overflow:hidden;
    
    .viewport{
        position: absolute;
        width:100%;height:100%;
        top:0px;left:0px;
        overflow:hidden;

        .trolley{
            display:grid;
            grid-template-rows: 100%;
            place-items: stretch;
            position: absolute;
            height:100%;
            top:0px;left:0px;
            transition:0.25s;
            .item{
                height:100%;
                img{object-fit: cover;width: 100%;height:100%;}
            }
        }
    }
    
    .counter{
        position: absolute;
        top:10px;right:10px;
        font-size:30px;font-weight: 600;color:#fff;
        pointer-events: none;
    }
    
    .preview{
        position: absolute;
        bottom:5px;
        left:0;
        width:100%;
        opacity: 0.1;
        transition:0.25s;
        height:60px;
        .trolley{
            position:absolute;
            left:50%;transform:translateX(-50%);
            bottom:0px;
            display: grid;
            grid-gap:10px;
            grid-template-columns: repeat(5,1fr);
            height:2px;
            transition:0.25s;
            place-items: stretch;
            .item{
                height:2px;
                background-color:#fff;
                opacity:0.5;
                transition:0.25s;

                img{object-fit: cover;width: 100%;height:100%;opacity:0;transition:0.25s;}
                &.selected{
                    opacity:1;
                    border:solid 2px rgba(#fff,0.75);
                }
            }
        }
        &:hover{
            .trolley{
                height: 60px;
                .item{
                    height:60px;opacity:1;
                    img{opacity:1;}
                }
            }
        }

        .btn{
            background:rgba(#000, 0.75);
            position:absolute;padding:10px;color:#fff;
            right:10px;bottom:10px;
            &.expand{display:none;}
        }
    }


    .controls{
        position: absolute;top:0px;left:0px;width:100%;height:100%;
        .btn{
            position: absolute;height:75px;width:75px;
            background:rgba(#000,0);border-radius:0;padding:0px;
            transition:0.25s;opacity:0.5;
            .fal{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#fff;}
            &.next{top:50%;right:0px;transform:translateX(100%) translateY(-50%);}
            &.previous{top:50%;left:0px;transform:translateX(-100%) translateY(-50%);}
        }
    }
    &:hover{
        .controls{
            opacity:1;
            .btn{transform:translateX(0) translateY(-50%);background:rgba(#000,0.4);}
        }
        .preview{
            opacity:1;
        }
    }
    &.expanded{
        position:fixed;
        top:0px;left:0px;
        z-index:99999;
        background:rgba(#000,0.9);
        .viewport{
            top:20px;left:20px;right:20px;bottom:20px;
            width:calc(100% - 40px);height:calc(100% - 40px);
            .trolley{
                .item{
                    img{object-fit: contain;}
                }
            }
        }
        .preview{
            &:hover{
                .trolley{
                    height: 120px;
                    .item{
                        height:120px;opacity:1;
                        img{opacity:1;}
                    }
                }
            }
        }
        .controls{
            opacity:1;
        }
    }
}

.immodb-calculator{
    
    display:grid;
        grid-gap:20px;
        grid-template-rows: auto;
    .input-container{
        display:grid;
        grid-gap:10px;
        grid-template-columns: 3fr 2fr 25px;
        grid-template-areas: "label input extra";
        input{padding:10px;}
        place-items: center stretch;
        label{grid-area:label;color:inherit;}
        .dropdown{
            > .btn{color:inherit;}
        }
        .input{grid-area:input}
        .extra{grid-area:extra;}
    }
}